[2018-11-20 15:40] nyanhp commented on #506
Something like this should probably work:
$compiler = Join-Path -Path ([Runtime.InteropServices.RuntimeEnvironment]::GetRuntimeDirectory() ) -ChildPath msbuild.exe
& $compiler AutomatedLab.sln /t:Rebuild /p:Configuration=Debug

This will likely fail to build the installer, unless you also have Windows Installer XML (wix.org) installed.

[2018-11-20 18:14] sundmoon commented on #506
repeatable result on actual updated 1809:

PS F:\_WORK\AutomatedLab> & $compiler AutomatedLab.sln /t:Rebuild /p:Configuration=Debug
Microsoft (R) Build Engine version 4.7.3190.0
[Microsoft .NET Framework, version 4.0.30319.42000]
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
Bui

[2018-11-21 12:13] nealej81 opened #509 "Format-Volume : Invalid Parameter creating base images"
Hi,

I'm getting the following error when attempting to install a new lab on Windows 10:

[code]

[2018-11-21 22:57] GlennJC opened #511 "Feature Request: -PreInstallActivity for built in Roles (SQLServer for example)"
On some of the more complex labs, would like to do some pre-installation configuration of the server prior to the role being installed.  Specifically in the SQL server case is to configure the data disks in a specific way (using mount points).

Would be nice to have the same capabilities as Get-LabPostInstallationActivity, but be able to enact this prior to the role installation, perhaps with a -P

[2018-11-21 23:01] GlennJC commented on #396
@randree, I know this one has been around for a while, however the ability to split the source of the master .VHDX and the child would be a nice feature (although I suspect a pain to implement).

For example, when not using AL, all of my parent images are stored on a single high speed SSD, and the children on sometimes slower disks, but also may be spread across multiple volumes.

Note: all of thi

[2018-11-21 23:04] GlennJC commented on #152
@randree This has been around for a while, and I've started working on an implementation of this (simply for first cut/version, only accepting access mode with VlanID on network interfaces, not trunking or native / tagged Vlan ID's at this stage).  Have you guys been working on this at all, and should I continue?

[2018-11-22 11:46] raandree commented on #509
The referenced line is this one:
[code]
There is not much that can go wrong. Do you have this problem every time? Can you repro it on another machine as well?

[2018-11-22 12:40] raandree commented on #504
@GlennJC is right, specifying the location where the VMs should go to is quite simple. If you do not define it, AL looks for the fastest drive and puts the VMs there. We use the AL cmdlet Get-DiskSpeed for that. If the fastest drive happen to the a FAT32 one, we choose it.

You can copy the folder C:\ProgramData\AutomatedLab from other machines if you want to use the data for some reason. It is no

[2018-11-22 13:07] raandree commented on #485
1. Why do you create two network adapters if you want to have the new machines created in the 192.168.10.x? I would just go with the one external adapter.
2. AL does not provide cmdlets to move machines between networks. However, you can just use the standard Hyper-V cmdlets to assign the machine's network adapter to another virtual switch.
3. @carfesh was working on a VMware implementation. Howev

[2018-11-22 13:10] raandree commented on #485
Yes, you can assign an IP address to a new external virtual switch like this:

[code]

[2018-11-22 19:02] raandree commented on #152
@GlennJC, if you have stated, your participation is very welcome. We have not looked at this yet due to other priorities. Thanks in advance.

[2018-11-22 21:50] raandree commented on #511
The PostInstallActivities are not done after the role installation. They are triggered by "Install-Lab -PostInstallations". This instrument is quite inflexible and not designed to run something before and after a specific role. In fact, we would need to extend the role object itself to define pre- and post-activities with each role and per machine. This is quite a task.

In the meantime, you may i

[2018-11-22 21:56] GlennJC commented on #152
@raandree Great, thanks. Will do.

Have a working solution at the moment, retesting the existing lab solutions to make sure I haven't broken anything is somewhat time consuming :)

I'm also needing to modify the Routing role to support configuration with multiple 'external' interfaces so the routing role can still work with VLAN support enabled.

[2018-11-22 21:58] raandree commented on #396
I need to rewrite parts of the disk handling to support dynamic disks. In a particular scenario people don't want to use diff disks for the VMs. In that process I could also try to handle this feature request.

If we support that, there can be multiple locations for base disks. Right now, New-LabDefinition provides parameters to define the lab definition location (XML files) and the disks / VM loc

[2018-11-22 21:59] GlennJC commented on #511
@raandree Thanks for the advice.  Will give it a try and report back.

[2018-11-22 22:01] raandree commented on #152
That sounds amazing. I am looking forward to your PR :)

[2018-11-22 22:02] raandree commented on #511
If the workaround works, how important is it to have pre- and post-install tasks for roles?

[2018-11-23 01:10] GlennJC commented on #511
@raandree Its probably not hugely important, was more about being able to encapsulate the activity for a given role without having to break up the Install-Lab process into a number of smaller subtasks.

Given the way the post-install task is wired up as you explained, adding a -PreInstall option would not be consistent with the way AL operates at the moment, so scratch that thought bubble :)

I ha

[2018-11-23 10:11] sundmoon commented on #506
@nyanhp  having WiX installed I'm seeing almost the same
**6 Warning(s)
15 Error(s

[2018-11-23 10:33] sundmoon commented on #504
Yeah I can copy the folder C:\ProgramData\AutomatedLab from other machine, but am I right that I have to manually fix the drive letters everywhere?
Cause there are no indirection in the xml files, which seems inconsistent, say, with totally reused $LabSources in the codebase.

Perhaps, an extra editor for Lab files may be helpful here?

[2018-11-23 12:14] raandree commented on #506
I have just tried msbuild with 'build' instead of 'rebuild' and it works

[code]

[code]

[2018-11-23 12:21] raandree commented on #504
I have not tried it yet but isn't a search & replace enough to "migrate" the XML files between machines?

When AL was designed 5 years ago we did not thought that people would ever try to move labs between machines. Of course it is a valid request but we did not thought about it back then. Writing an editor or some kind of migration logic is possible but requires quite some resources that we don't

[2018-11-23 15:59] sundmoon commented on #506
I am still out of luck
Please consider adding a custom role and/or sample script with dev setup.

[2018-11-24 13:39] sundmoon commented on #506
Is there a way to quickly forward installed modules with some of recent commits?
It would be helpful as a transitional measure.

[2018-11-24 15:42] sundmoon commented on #434
@raandree
It's seen again with '17763.1.180914-1434.rs5_release_SERVER_EVAL_X64FRE_EN-US.iso'

18:28:43|00:01:29|00:00:00.000| - Creating base images
Write-LogFunctionExitWithError : New-LabBaseImages...leaving: The product key is unknown for the OS 'Windows Server 2019 Datacenter Evaluation (Desktop Experience)' in ISO image ''.
Cannot install lab until this problem is solved.
…..
The product key

[2018-11-24 16:03] raandree commented on #434
Where did you get the image from? I have looked at https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019 and did not find an ISO to test that with.

[2018-11-24 16:08] raandree commented on #506
I am having difficulties understanding what you want to achieve. We are working with VS2017 and all works well.

What do you mean with "forward installed modules"? If you mean updating, you can use the MSI and install silently.

It seems that our approaches are quite different. Let's see where we can align them.

[2018-11-25 06:15] hzema opened #514 "can't install exchange 2013"
I tried to install  "07.1 Exchange 2013 Server and client, domain joined" but failed

09:05:38|01:05:11|00:00:00.000|     - Starting activity 'Exchange PrepareSchema'VERBOSE: Install-LabSoftwarePackage Entering... (ComputerName=Ex2013EX1,LocalPath=C:\Install\ExchangeInstall\se
tup.exe,CommandLine=/PrepareSchema /IAcceptExchangeServerLicenseTerms,ExpectedReturnCodes=System.Int32[](1),AsJob=True,NoD

[2018-11-25 08:14] sundmoon commented on #506
I tried to start from scratch with recent OS images.
Found some inconsistencies, which were quickly fixed by @nyanhp.
Now I'd like to use these fixes in a more controlled way than simply copying unreleased AL module version to my PSModulepath

Could you please test your stuff as it's perceived by a newcomer.
Or in some way help willing to help

Maybe I will finish at some time using the VS, instal

[2018-11-25 08:33] FriedrichWeinmann opened #515 "[PSFramework] Implement message handling"
Take over all internal messages
Redirect portable scripts to use default cmdlets and redirect them module-internally to `Write-PSFMessageProxy`

[2018-11-25 08:36] FriedrichWeinmann opened #516 "[PSFramework] Implement Flow Control"
Implement `Stop-PSFFunction` and `Test-PSFFunctionInterrupt` across the board where previously hard throws, continue calls or explicit error handling calls were used.

[2018-11-25 08:37] FriedrichWeinmann opened #517 "[PSFramework] Implement TabExpansion"
Replacing all dynamic parameters with PSFramework tab expansion to improve tab completion user experience

[2018-11-25 08:38] FriedrichWeinmann opened #518 "[PSFramework] Implement Configuration"
Replacing all the Module Private Data section field with PSFramework configuration, allowing greater flexibility with applying changes while also making the available options more visible and documented.

[2018-11-25 08:54] FriedrichWeinmann opened #519 "Lab / Demo Package management"
Currently, individual labs are stored as concluded script files that are executed.
To load a new Lab, one simply loads the script for a given lab and that's that.
This basically leaves the user with implementing the _management_ of these resources himself.

Add a component on top (as a dedicated module maybe?) that stores and manages "Lab Solutions" (Fully defined Labs as currently) and "Lab Packa

[2018-11-25 13:06] sundmoon opened #520 "Add-LabIsoImageDefinition not working with $PSDefaultParameterValues"
\SampleScripts\Introduction\06 SQL Server and client, domain joined.ps1

16:01:24|00:00:00|00:00:00.000| - Adding Hyper-V machine definition 'DC3'         (Roles: RootDC)
No operating system was defined for machine 'DC3' and no default operating system defined. Please define either of these and retry. Call 'Get-LabAvailableOperatingSystem' to get a list of operating systems added to the lab.

[2018-11-25 13:41] nyanhp commented on #506
The mysterious timeouts may be related to lab remoting. I had a couple of instances where colleagues and customer were running AL in their environment with group policies overwriting our settings. You can try running Enable-LabHostRemoting -Force again to see if this fixes the timeout issue.

As for building without visual studio: this will take me a moment to get familiar with the command line to

[2018-11-25 15:33] nyanhp commented on #518
I don't really care which dependency we add, as long as it is easy to configure for our users. I'm fine with both

[2018-11-25 15:38] sundmoon commented on #506
@nyanhp
Thank you for reply.
There is absolutely no complexity in my setup; I have freshly born system differencing from the BASE_Windows10Pro_10.0.17134.1.vhdx, which was generated by Install-Lab on my previous system
The AL modules come from the PSGallery, v. 5.1.0.115, installed from the PSGallery

I am sorry for saying that,  but as of my experience every single attempt to adapt the sample scr

[2018-11-25 15:38] raandree commented on #518
@nyanhp, is your solution ready to use? As there are enough other issues to work on, I would vote for what is most ready and give also the desired flexibility.

[2018-11-25 15:47] sundmoon commented on #520
Just actualized the OS names

PSDefaultParameterValues = @{
    'New-LabDefinition:VmPath' = 'N:\AutomatedLab-VMs'
    'Add-LabMachineDefinition:DomainName' = 'contoso.com'
    'Add-LabMachineDefinition:Memory' = 4GB
    'Add-LabMachineDefinition:OperatingSystem' = 'Windows Server 2019 Datacenter (Desktop Experience)'
}

New-LabDefinition -Name 'Lab1' -DefaultVirtualizationEngine HyperV

#Add-LabI

[2018-11-25 16:48] FriedrichWeinmann commented on #518
Just scanned the code.
Looks like a sane solution to me. Funny thing is: I could probably migrate @nyanhp 's solution to the PSFramework configuration setting in a bulk operation (since he already did most of the heavy lifting of pulling out the module-based settings and implemented retrieval of settings using a command and name).
If time isn't pressing on this, I'd offer to do this on Wednesday,

[2018-11-25 21:16] raandree commented on #520
You should have seen output like this, saying that the $PSDefaultParameterValues must be defined after calling New-LabDefinition.

[code]

[2018-11-25 21:26] raandree opened #522 "Formatting does no longer work"
AL comes with a ps1.xml file that defines formats for most common objects. However since quite some time these formats are no longer applied. Most popular candidates effected by this:
- Get-LabVM
- Get-LabAvailableOperatingSystem

[2018-11-25 21:35] raandree commented on #520
Because we have to clean up PSDefaultParameterValues somewhere. We do it in https://github.com/AutomatedLab/AutomatedLab/blob/d656a52ccd353819883da065ec0a78b0e404d671/AutomatedLabDefinition/AutomatedLabDefinition.psm1#L789. I need to have a closer look to see if this can be changed to support 'New-LabDefinition:VmPath' as well.

[2018-11-25 23:05] raandree commented on #506
Look at the definition of TestDC1. It still refers to network Lab0.

If you see timeouts again, please try to start with WinRM troubleshooting. Usually there is something wrong with the network config, routing or WinRM config. Tools like ping, Test-WSMan and Enter-Possession should help. Once this is solved , the big Blocker should be handled.

Usually using AL is just installing it using the MSI

[2018-11-25 23:12] raandree commented on #514
I have just tried deploying the lab and it run without trouble. Do you see anything helpful in the variable mentioned at the bottom of your output? Do the Exchange install logs on the VM contain anything useful?

[2018-11-25 23:15] raandree commented on #434
Please ping us again if the image is available again. Or just tell us the product key you would like to be added and the OS name.

[2018-11-26 04:38] raandree commented on #506
@sundmoon, when saying that we are working on VS2017 this only applies to the dev and build. Using AL as it is installed by the MSI or PSGallery does not require VS2017 at all. I have started from scratch a number of times on machines that had nothing installed. Even if you want to change the PowerShell of AL, VS2017 is not required. VSCode should do as long as you don't change the C# code.

[2018-11-26 09:40] sundmoon commented on #506
@raandree, of course I understand
But what I wanted here is both to use some recent fixes and to inject my own small changes into the codebase,
such as turning off the fasted drive selection or wrapping sample scripts with some global configuration related to my environment.

My priority is having the master OS available fast, preferably newborn with the AL itself

[2018-11-26 10:02] raandree commented on #506
I am not aware of a product that takes individual changes into account when updating the solution.

We have already mentioned that you can work around the automatic drive selection by providing the VmPath or LabPath parameter with New-LabDefinition. If there are more default settings that you are not happy with, we should add parameters but not change the code itself. If users change the code base

[2018-11-26 10:08] sundmoon commented on #506
I am gonna take care of it by myself
Do I have a right to finally make 'Lab-in-a-box' with my own changes?

And I'd be happy to help you with development and maybe some PRs but I am very far from it

[2018-11-26 10:29] sundmoon commented on #506
As I am feeling, the introduction scripts are focusing on building up interactive experience, that it fairly reasonable, but error prone.
Unfortunately my own trials to eliminate errors introduced new ones, for example because of surprising cleaning of the $PSDefaultParameterValues

[2018-11-26 11:23] sundmoon opened #523 "How to remove messing Labs fast?"
[code]

[2018-11-26 11:44] raandree commented on #506
You have the right to do whatever you want with the code, it is open source.

The introduction scripts have been created mainly to demo some easy scenarios. Then we have the scenarios folder that contains more complex labs.

We try to validate some of the data and give feedback if something is not right. In case of PSDefaultParameterValues there are multiple warnings explaining the usage.

Some th

[2018-11-26 18:01] mapl opened #525 "Update CHANGELOG.md to latest revision"
I dont want to bug you but please keep CHANGELOG.md in sync with latest release :)

P.S.:
https://github.com/AutomatedLab/AutomatedLab/wiki/Version-History lacks alot of previous releases.

Anyway, AL just rocks. I appreciate your hard work!

[2018-11-26 18:19] nyanhp commented on #525
Yup, forgot about that... The manual steps trip me up from time to time.

[2018-11-26 18:21] nyanhp commented on #523
Please take a look at the syntax first:
[code]

Remove-Lab does not take arrays. So you can try this instead, which works on my Win10 client as well as my plain, unconfigured 2016 VM for your reference:
[code]

[2018-11-26 18:21] #523 closed

[2018-11-26 18:31] #525 closed

[2018-11-26 18:41] nyanhp commented on #505
This has been closed with our latest release 5.1.0.153
[code]

[2018-11-26 18:41] #505 closed

[2018-11-26 20:05] #520 closed

[2018-11-27 09:46] sundmoon commented on #523
@nyanhp
this doesn't work for me
(having just updated the AL to the latest release)

[code]

[2018-11-27 20:16] GlennJC opened #527 "Ehancement - Support for Load Balanced network interfaces in Hyper-V virtual switches"
The current AL logic for Hyper-V virtual switches does not currently support the creation of a VMSwitch where the external interface is comprised of a LBFO team.  This is primarily due to the way MAC Addresses are assigned to the LBFO interface, where its MAC address is the same as one of the team members.  AL currently checks for duplicate MAC addresses, which fails due to this situation.

Soluti

[2018-11-28 07:04] nyanhp commented on #527
Hi @GlennJC, might this be related to this change here? Maybe something to build on, if I understand correctly. There does not seem to be a PR that documents this, but @raandree did the following: https://github.com/AutomatedLab/AutomatedLab/commit/9dea39852335243e89e5297ca8e60df540f448ca

[2018-11-28 07:35] GlennJC commented on #527
@nyanhp Thanks, I'll have a look.

Mine is quite a simple fix, it effectively ignores the MAC address detection logic if the interface being used to create the Hyper-V VMswitch is a load balanced team during the VMswitch creation, as it will always return 2 interfaces with the same MAC, the primary or first team member and the team itself.

Its literally this in AutomatedLabWorkerNetwork.psm1

[co

[2018-11-28 08:57] sundmoon commented on #527
@GlennJC
consider creating vmswitch with relatively new option named SET: switch embedded teaming
 -EnableEmbeddedTeaming

Looks like MS is gonna stop investing in the 'ol' good' LBFO teams

[2018-11-28 09:00] sundmoon commented on #527
@GlennJC @nyanhp
consider creating vmswitch with relatively new option named SET: switch embedded teaming
 -EnableEmbeddedTeaming

Looks like MSFT to stop investing in the LBFO teams

[2018-11-28 09:53] sundmoon opened #528 "sorry but again an existing vhdx -related question"
[code]

Faced again some strange behavior especially in concern of new '1809' images.
Some of them weren't producing any 'LabAvailableOperatingSystem' from the very beginning.
But one I had been relied on, suddenly stopped exposing it's content.
This happened after 'shutting up' the relative iso with switching it's extension to 'iso-'. Previously I happily managed switching it forth and back, for

[2018-11-28 10:30] GlennJC commented on #527
Hi @sundmoon ! thanks for the comment.

I have looked into SET previously, and from what I can see, the existing Teaming functionality is still available in Server 2019 (happy to be proven wrong on this one, the documentation still covers using existing teaming functionality under 2016/19). SET runs a limited feature set compared to traditional teaming, so I believe they will co-exist for some tim

[2018-11-28 14:40] sundmoon commented on #528
Okay, I have the LabAvailableOperatingSystem again working for my images.
It happened after I added a totally new image 'not known to the AL cache before'

Something messing with that cache?
How can it be viewed or cleared?

[2018-11-28 14:48] sundmoon commented on #528
Just after the successful run of LabAvailableOperatingSystem I started an introductory script and finally see it hanging
[code]

[2018-11-28 22:05] GlennJC commented on #485
@dwchan69 AL currently assigns the first available address to the management adapter in the defined address space for the virtual switch management interface (typically will be .1). The switch itself doesn't have an IP address, only the vEthernet management adapter created as part of the switch creation.

This doesn't immediately help you, but I am currently working on a modification as part of is

[2018-11-29 01:05] raandree commented on #528
I don't understand the issue. Usually adding / removing ISOs does not cause issues and new OS images are discovered automatically.

You can clear the cache with 'Clear-LabCache'.

[2018-11-29 01:11] raandree commented on #527
I am working with a customer who uses AL on boxes with network teams. For that I had to replace the following [line](https://github.com/AutomatedLab/AutomatedLab/blob/215b1b4205a6c6f007deaf7f1a3ab0877710bced/AutomatedLabWorker/AutomatedLabWorkerNetwork.psm1#L37) to exclude network teams. I am actually not sure if this was the right way to go as my skills are limited in this space.

[code]

with
[c

[2018-11-29 08:55] sundmoon opened #529 "Reusing VMs in different Labs"
Can I reuse, say, DC1 from a different Lab?
It may drastically shorten the new Lab deployment time

[2018-11-29 09:09] sundmoon commented on #529
BTW, consequent build of the LabVMs is good for reassuring a newcomer doing the introductory scripts.
But in the real world it may be wanted to make things faster in parallel.
Any support for this?

[2018-11-29 11:15] sundmoon opened #531 "regardind Introduction\07.2 Exchange 2016... sample"
Run the script, just having actualized the OS images (2016 to 2019)

[code]

1) Could you please explain why there is no Exchange server itself installed in fact, and no mention of it in the Install-Lab log output?

2) Where are the downloaded items? How can these downloads be cached for future use?

[2018-11-29 11:41] GlennJC commented on #531
Hi @sundmoon As for the downloaded files, they should appear on the host running AL in the folders defined as part of the Get-LabInternetFile.  So for example, the Exchange ISO should be located in $LabSources\ISO as per the HostStart.ps1 file in the \CustomRoles\Exchange2016 folder (defined by the $downloadTargetFolder variable:

[code]
and:

[code]

The downloads will automatically be cached for

[2018-11-29 11:59] GlennJC commented on #396
Yep, that's pretty much all I think that would be required. Ability to define the base VHDX image location that the VM child images are created from, so multiple labs could share the same base images even though they may be in different base directories or different volumes.

Simple example something like:

[code]
the same base images would be reused for both labs in this example.

[2018-11-29 14:56] nyanhp commented on #522
It looks a bit odd, really. The trace makes it look like it should be working though:
[code]

[code]

[2018-11-29 15:19] sundmoon commented on #531
Hi @GlennJC ,
thank you for help

Below is a part of the log inside the VM

[code]

No, there is not a thing for me

These are in place

[2018-11-29 20:56] GlennJC commented on #531
@sundmoon

If possible, can you post the C:\ExchangeSetupLogs\ExchangeSetup.log from that server? The Exchange server setup performs the installation of the necessary windows components, so find it strange that its complaining about them not being installed.

The Exchange installation piece of the script is effectively throwing this command line at the setup.exe

[2018-11-30 05:36] sundmoon commented on #531
@GlennJC

[ExchangeSetup.log](https://github.com/AutomatedLab/AutomatedLab/files/2632170/ExchangeSetup.log)

[2018-11-30 09:40] raandree commented on #531
I need to have a look at the role code. The error in the log seems to be this one:

[code]

[code]

I might be able to take a look at this next Monday.

[2018-11-30 10:22] raandree commented on #529
I have just solved that requirement for a different customer. As the development was extremely agile, I need to rework the code a bit and move it to the official dev branch. Stay tuned...

[2018-11-30 11:39] sundmoon commented on #529
@raandree
Glad to hear that.
What the exact requirement is it about, as I've mixed here several topics: 1) reusing Lab VMs, 2) parallel build of VMs, 3) managing things as in this issue titles
I'd rather not mix them, but I am shy of polluting you repo with my strange ideas.

[2018-11-30 12:11] raandree commented on #529
Can you create one issue per topic, please? Otherwise it gets a bit chaotic.

I meant reusing machines deployed in another lab.

[2018-11-30 13:27] sundmoon opened #532 "Building VMs in parallel"
Consequent build of the Lab VMs is good for reassuring a newcomer doing the introductory scripts.
But in the real world it may be wanted to make things faster in parallel.
Any support for this?

[2018-11-30 16:58] sundmoon opened #533 "Managing different Labs related VMs and Hosts file records on the same Hyper-V host"
What is the best way?
Besides manually tracking Labs that generated each of the VMs.

To look into the hosts file might be a good enough answer.
For now it may be strongly recommended for a newcomer to do it regularly, and don-t run Install-Lab if there is any discrepancy between the current Lab script and the hosts file contents

[2018-11-30 17:49] raandree commented on #532
You should be able to install as many labs in parallel as you want / as you disk performance allows. This did not work until we have identified the VHD operations as a critical section that cannot run in parallel.

We are checking [here](https://github.com/AutomatedLab/AutomatedLab/blob/215b1b4205a6c6f007deaf7f1a3ab0877710bced/AutomatedLab/AutomatedLab.psm1#L771) and [here](https://github.com/Auto

[2018-11-30 17:53] raandree commented on #533
I do not understand the issue. Do you want to know which VM belongs to which lab?

[2018-11-30 18:57] sundmoon commented on #533
1) Yes.
2) I want to safely create new Labs and name new VMs

[2018-11-30 19:05] sundmoon commented on #532
For my understanding:
now the single Lab VMs are created consequently.
At least, their initial deployment from images may happen in parallel

[2018-11-30 19:52] raandree commented on #533
Get-LabVM returns all VMs of the current lab. So importing all labs one by one and then writing all machines to the console looks like that:

[code]

I would prefer this way:

[code]

[2018-11-30 20:12] raandree commented on #532
You mean the creation of VMs when deploying a single lab should be done in parallel? As mentioned, creating VMs, takes just a small amount of time compared to the full deployment time. This bit works quite robust and doing things in parallel would add a lot of complexity. I don't see that balance.

[2018-11-30 20:14] #528 closed

[2018-11-30 21:16] sundmoon commented on #532
I mean not only creation of VMs, but also the first start of bare OS from images
Why third Lab VM must wait for the second and both for the first one?
For my experience, second VM even doesn't start until the first, say DC1, completes its hydration up to working AD state
As for me, it is a waste of time: they may get initially deployed and wait for AD then

[2018-12-01 06:52] raandree commented on #532
I am not sure where the comment went but I have this comment of yours in my email box which is not listed here anymore

[code]

We have a sequence how we start the machines which is a compromise between performance and reliability. The root DC is started first and we wait until this one has started before we do anything else. You cannot start machines before all domains are installed and ready as

[2018-12-01 08:20] sundmoon opened #534 "Missing default gateway assignment on Internal network interfaces in some Router-enabled Labs, e.g. Introduction\10 ..."
Here is my script
[code]

But here is the client perspective:

``
PS C:\Users\Administrator.contoso> Get-NetIPConfiguration

InterfaceAlias       : Ethernet
InterfaceIndex       : 6
InterfaceDescription : Microsoft Hyper-V Network Adapter
NetProfile.Name      : contoso.com
IPv4Address          : 192.168.13.5
IPv6DefaultGateway   :
IPv4DefaultGateway   :
DNSServer            : 192.168.13.3

``
And

[2018-12-01 08:54] sundmoon commented on #534
Also the DNS server is set wrong

[2018-12-02 13:42] sundmoon commented on #533
@raandree
That's good enough, thanks.
It would be nice if this kind of logic was added to validation.

[2018-12-02 16:04] sundmoon commented on #533
In addition i'd ask to check for other VM present on host
Sometimes there are not only manually created VMs but also remnants of incorrectly removed Labs, because of newcomers' lack of experience with AL

[2018-12-02 16:10] sundmoon commented on #533
My current output:
[code]

[2018-12-02 16:10] raandree commented on #533
We need to be a bit careful with validators as each of them costs some time. AL will fail if you try to create a VM that is already there. Then you do a Remove-Lab, correct your VM names and try again. Isn't that good enough?

[2018-12-02 16:11] raandree commented on #533
Can you attach the lab XML files here for which you get "There is an error in XML document"?

[2018-12-02 16:12] sundmoon commented on #533
I understand these concerns, but keep in mind that such things are barring new potential adopters

[2018-12-02 16:15] sundmoon commented on #533
[Lab.zip](https://github.com/AutomatedLab/AutomatedLab/files/2637098/Lab.zip)

[2018-12-02 16:16] raandree commented on #534
What do you mean by this?

What is the error?

[2018-12-02 19:33] eagle-1 opened #535 "Missing Product Keys"
It would be great if you could add the missing product keys for Windows Server 2008 R2 Enterprise. They seem to be missing:

[code]

We are using customized images with [KMS Client Keys.](https://docs.microsoft.com/en-us/windows-server/get-started/kmsclientkeys#earlier-versions-of-windows-server)

btw, i would like to thank you for work. You are doing a great job. :+1:  :star2:

[2018-12-03 14:30] nyanhp commented on #246
@raandree do we actually need the notes in this case? We don't use them on Azure in any case.

In general: We can use the Tags for Azure resources to store additional information if necessary. At the moment, we only tag them with the lab name and the creation time. The tags are limited in size, so exporting an entire XML structure might not be ideal.

[2018-12-03 18:53] sundmoon opened #536 "settings.json"
It's mentioned in the Wiki, but no show in fact, as for me.
Why?

[2018-12-03 19:34] raandree commented on #536
@nyanhp is waiting for me to test and merge #510. Will be available very soon.

[2018-12-03 19:56] #522 closed

[2018-12-03 20:19] raandree commented on #534
If there is a virtual network adapter which is called 'Default Switch' then we don't touch it. This should be mentioned in the output when deploying a lab. If you are using an older OS version with no 'Default Switch' available, we are creating one as an external adapter. This makes AL compatible with both scenarios and creates a minimal overhead in the code.

Does this address you question or con

[2018-12-03 20:37] raandree commented on #536
Now merged. Latest build available here: https://ci.appveyor.com/project/AutomatedLab/automatedlab/builds/20740475/artifacts

[2018-12-03 20:37] #536 closed

[2018-12-03 23:06] #535 closed

[2018-12-03 23:15] raandree commented on #533
Thanks. I could import your lab without any issue:

[code]

Of course removing resulted in some errors due to different paths, but Remove-Lab cleaned up at least the lab XML files.

[code]

Without being able to repro your issue, it is quite hard to work on it.

[2018-12-03 23:16] raandree commented on #533
BTW, I have used the latest dev release: https://ci.appveyor.com/project/AutomatedLab/automatedlab/builds/20743834.

[2018-12-04 07:12] sundmoon commented on #533
Yes, I may clean up the host
What I needed is a simple way of reassuring user of the lab host state correctness

I still have a host with the latest AL release, having the Lab0 I uploaded and this hosts file:
#lab0 - start
192.168.11.3	dc1
192.168.11.3	dc1.contoso.com
192.168.11.4	router1
192.168.11.4	router1.contoso.com
192.168.11.5	client1
192.168.11.5	client1.contoso.com
#lab0 - end

but trying

[2018-12-04 10:33] sundmoon commented on #533
[code]

[2018-12-04 12:02] raandree commented on #533
AL with not touch VMs that are not part of a lab. AL looks inside the VMs notes field that stores among other data the lab name. Only VMs with a matching lab name in the notes field are removed or considered as part of the lab.

If you want to know what went wrong importing the XML file, have a look at the exception. In the following example the first exceptions is about the XML document. As the $

[2018-12-04 13:22] sundmoon opened #540 "Install-LabSoftwarePackage hangs, and no installer activity inside the VM"
[code]

The manual setup from 'C:\jre-8u131-windows-x64.exe /s' is Ok

[2018-12-04 14:19] sundmoon opened #541 "Hyper-V host access from Lab VMs"
Besides $Labsources sandbox, is there a shortened access path from the inside to, say, \\\\labhost\N$ ?
I'd appreciate if such variable was available for in-lab scripts

[2018-12-04 14:50] raandree commented on #540
Please read the documentation carefully. Comand line switches are case sensitive: https://java.com/en/download/help/silent_install.xml.

This works:

[code]

[2018-12-04 14:50] #540 closed

[2018-12-04 14:50] #484 closed

[2018-12-04 14:52] raandree commented on #541
Right, you can use Copy-LabFileItem or Invoke-LabCommand with a DependencyFolderPath to get your resources to the VM.

If things get more complex, have a look at [custom roles](https://github.com/AutomatedLab/AutomatedLab/wiki/Custom-Roles).

[2018-12-04 14:52] #541 closed

[2018-12-04 14:52] #532 closed

[2018-12-04 14:53] raandree commented on #527
Thanks @GlennJC, closing this as your PR is merged.

[2018-12-04 14:53] #527 closed

[2018-12-04 15:38] sundmoon commented on #534
Seems like you're right, my previous errors came from another source

[2018-12-04 15:54] #534 closed

[2018-12-04 16:24] bziembicki opened #542 "Waiting for machine to start up became very aggressive"
Hello,
With new realese, waiting for new machine to start up became very aggressive, doesn't wait enough to let the machine install. It is so even when creating very simple enviroment. Creating env with DC and RRAS  becomes impossible. The realease I used befor was 5.0.4.62. and it worked fine

here is the code

[code]

And here is output

[code]

[2018-12-04 16:45] raandree commented on #542
Do you mean the latest official release or one of the dev builds?

[2018-12-04 17:40] raandree commented on #542
Sorry, of course the info is in the log you provided.

Do you deploy on a SSD or hard drive?

[2018-12-04 17:56] bziembicki commented on #542
On ssd. But I will be doing it also on hard drive

[2018-12-05 08:45] bziembicki commented on #542
5.1.0.153 is the one I use, from the Releases tab, marked as latest release.
Before use, I deleted AL and all labs and installed AL from that release.
But it seems that it is problem with my system..
How can I make some troubleshooting ?

[2018-12-05 16:18] raandree commented on #542
After the deployment, does the machine word? Can you connect to it using Connect-LabVM or Enter-LabPSSession?

Does ``` Restart-LabVM -Wait``` work?

[2018-12-06 12:55] bziembicki commented on #542
Ok, it is working.
Today I tried Importing-Module AL and got

I found AutomatedLab-v5.0.4.65 issue with module 'newtonsoft.json' #465 and it turns out that it happened to me after installing from msi as well.
I tried installing from PS Gallery ( I didn't even realise it exists eralier 😱 ) and now it works. Probably some module or some other thing didn't load when installed from MSI..
Thanks for yo

[2018-12-06 14:41] sundmoon commented on #533
@raandree
Now, for the same host

[code]

I haven't touched the stale Lab0 since I have had taken previous logs

[2018-12-06 19:17] sundmoon opened #543 "Lots of errors trying SampleScenarios\DSC With Release Pipeline.ps1"
What may be wrong with the script below?
Almost no mods, just renamed stuff hoping this would help after the first fail
Using the latest release 5.1.0.153

[code]

[2018-12-06 20:59] sundmoon commented on #543
I had to rerun the script several times, reboot the SQL VM with Routing role and manually start all VMs but the first two
Here is the log of the last run:

[code]

[2018-12-06 21:07] sundmoon commented on #543
[code]

[2018-12-06 22:33] rajganeshp opened #544 "quick question - Installing in Standalone Hyper-V"
How do we install AL binaries in a standalone Hyper-V? can you also show a simple example to setup a medium lab with a Router?

Thanks,
Raj

[2018-12-07 06:58] nyanhp commented on #544
Hi @rajganeshp, I'd recommend the msi installer for an offline install. If your hypervisor is connected, please rather use:
[code]

You can have a look at one of the connected labs, really. They are all the same when it comes to routing. For example: https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/SampleScripts/Workshops/PowerShell%20Lab%20-%20HyperV%20with%20Internet.ps1

[2018-12-07 07:08] sundmoon commented on #544
For my understanding:
1) Use Install-Module AutomatedLab -Force -AllowClobber
2) Run  New-LabSourcesFolder -DriveLetter X, so you will have set $labSources in you Labs
3) Place Windows OS ISOs into $labSources\ISOs
4) Edit $labSources\SampleScripts\Introduction\05 Single domain-joined server (internet facing).ps1
- bind -OperatingSystem names to the names making sense in your environment
- at the

[2018-12-07 07:12] sundmoon commented on #544
@nyanhp
Don't Install-Lab do Enable-LabHostRemoting ?

[2018-12-07 07:34] nyanhp commented on #544
Yes, Install-Lab will eventually ask you. But this breaks automation since it requires manual input.

[2018-12-07 07:42] sundmoon commented on #544
Got it
But as there are so many things that break automation, it is almost impossible for a newbie to run his first lab smoothly.  Questions in a guided process are much better than errors

[2018-12-07 09:30] raandree commented on #544
Usually a newbie will not start with a lab deployment that has to run silently in the background. If you start as described in our [Getting Started](https://github.com/AutomatedLab/AutomatedLab/wiki/2.-Getting-Started) section, things should be quite smooth. Most of the error messages also point to the root cause and should give a hint about how to solve it.

Please keep in mind that AL deploys so

[2018-12-07 09:31] raandree commented on #543
I haven't looked at this for a while and we have done quite a few changes to AL. I will give it a try quite soon.

[2018-12-07 09:34] raandree commented on #542
Right, the MSI does not include the 'newtonsoft.json'. We are planning to rewrite the installer completely to be more self-adapting to changes in AL. Right now, maintaining the installers massive XML file is quite a burden. In the latest release we have two additional dependencies: Datum and powershell-yaml. Both can be installed from the gallery.

Closing this then. Please re-open in case AL is t

[2018-12-07 09:34] #542 closed

[2018-12-07 10:37] sundmoon commented on #544
Unfortunately this apply not only to the common knowledge such as about network settings, but also to the knowledge of AL specific logic.
Weird things still happen in different places: miss of available OS, miss of installation key, automatic selecting of wrong vmPath, PSDefaultParameters working _partially_ ...

[2018-12-07 10:59] sundmoon commented on #544
Perhaps, the Wiki miss a kind of Troubleshooting section?
There may go some 'good enough' answers, such as triggering ISO cache rebuild with adding new iso - in case of breaking expectations Get-LabAvailableOperatingSystem output

[2018-12-07 11:15] raandree commented on #544
There is documentation on most of your points but people tend to not read it well enough:

- polluting the host with remnants of previous incorrectly attempted Labs
Just clean up manually. We have Remove-Lab which seems to work for most people. In case this have gone wrong, manual steps are required which means just removing VMs and files.
- miss of supposedly available OS,
OS list gets rebuild as

[2018-12-07 11:34] sundmoon commented on #544
@raandree
This stuff as a whole is barring AL newbies from quickly getting first outcome, motivating them to dig deeper in the documentation

[2018-12-07 11:36] sundmoon commented on #543
@raandree
Does this mean that I'd rather not to try the DscWorkshop until things are settled down?

[2018-12-07 13:05] sundmoon opened #545 "Help actualizing \SampleScripts\Scenarios\MDT Lab 1, MDT Server 1.ps1"
The sample script is working fine, but I fail to actualize the ADK

[code]

$LabSources\CustomRoles\MDT\DownloadAdk.ps1

[code]

Getting errors

Some of them come from clear source as I didn't find the place to hook the scrips with $adkWinPESetup
But there is no ADK installed at all

[code]

[2018-12-07 14:02] sundmoon commented on #544
Here is my story.
Past summer when I start experimenting with the AL, I was not aware of $PSDefaultParameterValues.
So I emulated them by myself, until I discovered this Powershell thing in your samples and tried to use it totally, including -vmPath recently discovered in your module sources or helps.
I was really disappointed with the automatic vmPath selection and wasted lots of my time trying t

[2018-12-07 15:17] sundmoon commented on #544
@raandree
I appreciate your great effort coding the volume selection logic.
The goal you have reached is just not applicable to my environment, so I also value my labor of acquiring knowledge: use -vmPath $myPath in every New-LabDefinition - and no one small step aside

[2018-12-07 19:38] sundmoon commented on #545
Seems like it could be easily fixed.
I have managed to run Install-Lab almost smoothly after I manually installed both adkSetup
and adkWinPESetup on the VM OS

[2018-12-08 22:40] sundmoon opened #546 "The \SampleScripts\Scenarios\SCCM Lab 1.ps1 is also broken similarly to Exchange 2016"
Actually no SC server installed, though the SCCM Lab 1.ps1 logs are clear

[2018-12-09 09:04] eagle-1 opened #547 "Feature Installation Server 2008 R2 not working"
Would be great if you could clarify that point.
from [Wiki](https://github.com/AutomatedLab/AutomatedLab/wiki/Installing-Windows-Features):

from [MS Docs](https://docs.microsoft.com/en-us/powershell/module/servermanager/install-windowsfeature?view=winserver2012r2-ps):

This is from C:\DeployDebug\ALDCPromo.log on a 2k8r2:
[code]

Maybe I'm the last one who really needs a 2008R2 Lab?  :flushed:

[2018-12-09 12:06] eagle-1 opened #548 "Product Keys are somehow mixed up"
After using your fix #535 I noticed a mixture of [KMS](https://docs.microsoft.com/en-us/windows-server/get-started/kmsclientkeys#earlier-versions-of-windows-server) and [AVMA ](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn303421(v=ws.11))keys in AL.

You are using KMS keys for all OS's except for Server 2012 R2 where you use AVMA keys.  Is the

[2018-12-09 13:42] raandree commented on #548
Thanks for reporting this. I was not aware of the difference between KMS and AVMA keys.

The product keys are maintained in this section of AL: https://github.com/AutomatedLab/AutomatedLab/blob/e0715edf73947542906c65ce9e4f7af1cb018f12/LabXml/Machines/OperatingSystem.cs#L163. Can you suggest the expected keys or even better provide us a pull request with the change?

[2018-12-09 15:03] raandree commented on #547
I though we are using the correct commands in AL. I have just tried installing features and it works like this

[code]

You are trying to install a DC using AL on 2008 R2, right? Can you share the AL deployment script, please?

[2018-12-09 18:58] eagle-1 commented on #547
You are right.

Sure, no problem. It's based on _09 Web Servers with SSL certs, Root CA, domain joined.ps1_.

[code]

[2018-12-09 19:36] eagle-1 commented on #548
After all I'm a bit curious. Maybe I'm missing the point, but why is it necessary for AL to handle Product Keys at all?
While replacing the keys I noticed, that not every operating system is integrated in AL. There are server 2016 versions 1709, 1803 and 1809 (not LTSC/LTSB Versions) which are (partially) missing. Because client operating systems which are not LTSB (from the semi-annual channel) _

[2018-12-09 20:06] raandree commented on #548
Actually there is no real plan. We added operating systems when the community asked for it or if it was our own requirement. If you have something to add here, please do. We are not always the experts as AL touches so many technical areas. And there is always the problem of having limited time.

[2018-12-10 19:38] raandree commented on #548
Thanks for your help here!

[2018-12-10 19:38] #548 closed

[2018-12-10 21:48] eagle-1 commented on #547
Please have a look at [this ](https://github.com/AutomatedLab/AutomatedLab/blob/06602c710f1790845658735482212a56d8f1270e/AutomatedLab/AutomatedLabADDS.psm1#L769)line.

Because Server 2008 R2 Versionnumber is somewhat like 6.1.7601.yyyy
I added a quick check to see the current version number:
[code]

So the script will never reach the Pre2012 Part...

After changing the mentioned [line ](https://gi

[2018-12-10 22:00] raandree commented on #547
Thanks! Just working on this and found it out as well. This definitely worked some time ago, weird.

I am not seeing any cmdlet call in the pre 2012 code to install the Windows Feature. I think dcpromo.exe does it. Anyway, I have added some code to install the features prior calling DC promo.

[2018-12-10 22:19] #547 closed

[2018-12-10 22:31] raandree commented on #544
And we appreciate your feedback. We cannot make AL be the ideal solution for all scenarios out there. If you think that others should know about your discoveries, please help us extending the code or wiki.

[2018-12-10 22:31] #544 closed

[2018-12-10 22:32] raandree commented on #529
The latest dev release has a -SkipDeployment switch when adding machines to the lab. This feature is not yet documented. It allows you to add the machine info to you lab without actually deploying it. This only works if the IP addresses are not auto-assigned.

[2018-12-10 22:32] #529 closed

[2018-12-14 01:36] msfento1 opened #550 "deployment with windows server 2019 fails with unattend.xml error"
ran into an issue with deploying the released version of server 2019 (Version  10.0.17763.107) failing with the following error for unattend.xml:

     **Windows could not parse or process the unattend answer file for pass [specialize]. The settings specified in the answer file cannot be applied. The error was detected while processing settings for component [Microsoft-Windows-Shell-Setup].**

Pro

[2018-12-14 04:32] zakgodwin commented on #546
I know the ADK WinPE addon is missing and has to be included. I made some edits and was able to get SCCM 1802 installed on Server 2019 using SQL Server 2017 as the backend.

[2018-12-14 17:55] msfento1 commented on #550
I downloaded the image from my visual studio subscription a couple of weeks ago.
I have used it to manually build VMs. I used automatedlab to build a VHD. I verified that the VHD can be copied and applied to a blank VM and spins up fine -- it just appears that 2019 -- in my environment?-- has an issue with one or more of the settings in the unattend.xml generated by AL.
My AL version where I was h

[2018-12-14 18:01] msfento1 commented on #550
for what it's worth -- here's my calculated hash for the iso:

SHA256          4C5DD63EFEE50117986A2E38D4B3A3FBAF3C1C15E2E7EA1D23EF9D8AF148DD2D

[2018-12-16 00:15] raandree commented on #550
I could not repro your issue. The hash for my ISO is the same so this file cannot be the issue. Can you delete the base image that AL creates? It should have a name like "BASE_WindowsServer2019Datacenter(DesktopExperience)_10.0.17763.107.vhdx".

If this does not help, can you please share your AL deployment script?

[2018-12-19 02:05] ctmcisco commented on #387
Ok I am returning back to this.  The above line of code will seem to work just need to set the VM to DHCP. How is this done as the Help for Add-LabMachineDefenition doesn't demonstrate this?

[2018-12-19 02:20] ctmcisco commented on #387
I beleive I found some code that may help

$netAdapter += New-LabNetworkAdapterDefinition -VirtualSwitch 'Default Switch' -UseDhcp

I will give this a shot

[2018-12-19 03:12] ctmcisco commented on #387
I am happy to report this was fixed using the following lines of code:

$netAdapter = @()
$netAdapter += New-LabNetworkAdapterDefinition -VirtualSwitch 'CTM-External-Switch' -UseDhcp

here is my whole script for anyone to take a look

# Lab Name
$LabName = 'Techsnips'

# Create an empty lab template and define where the lab XML files and the VMs will be stored

New-LabDefinition -Name $labName -Vm

[2018-12-19 09:13] raandree commented on #387
Thanks, closing this issue then.

[2018-12-19 09:13] #387 closed

[2018-12-19 11:22] raandree commented on #546
I used the script "SCCM Lab 1.ps1" as it is and it just worked as expected.

- All machines on Windows Server 2016
- SQL 2017
- SCCM 1702

@sundmoon, what errors do you get? What modifications have you done?

@zakgodwin, can you share your changes here to get the latest version running?

[2018-12-20 08:57] raandree opened #554 "Restore-LabVMSnapshot does not error if snapshot name is wrong"
Error handling needs to be improved. If there is no snapshot with the given name, machines are stopped and started but the snapshot is not restored. There is also no error message shown.

[2018-12-20 22:04] damorris opened #555 "feature request - add OS build version labs"
I find myself building a lot a server & workstation VM testing features between builds. It would be nice to chose the OS build at lab creation and not have to keep swaping .iso files out of the labsouces\ISOs directory. Say something like this:
Add-LabMachineDefinition -Name TestClient1 -Memory 1GB -Network $labName -IpAddress 192.168.70.12
    -OperatingSystem 'Windows 10 Enterprise 1709'
or
Add-

[2018-12-20 22:22] raandree commented on #555
What you are looking for is already there. The parameter 'OperatingSystemVersion' for 'Add-LabMachineDefinition' lets you pick a version. Use the versions shown when calling 'Get-LabAvailableOperatingSystem'. Is this what you are after?

[2018-12-20 22:39] damorris commented on #555
Yes, not sure how I missed it. Thanks

[2018-12-20 22:39] #555 closed

[2018-12-21 08:22] sundmoon commented on #546
@raandree
I didn't get any errors but got no show of SCCM installed.
Sorry I am on a short vacation, will provide more info in a few days.

[2018-12-21 08:32] raandree commented on #545
I could not reproduce this. There are some no longer valid links in the 'MDTApplications.xml' and an error that I have fixed but this error did not have an effect on the deployment of MDT. The final deployment looks like this:

![image](https://user-images.githubusercontent.com/11280760/50332473-86229e80-0502-11e9-9424-187562c943dc.png)

[2018-12-21 08:33] raandree commented on #545
I closet his for now. If you need further help, please reopen.

[2018-12-21 08:33] #545 closed

[2018-12-21 08:33] #550 closed

[2018-12-21 08:34] raandree commented on #550
@msfento1, please reopen, if you face further issues.

[2018-12-21 09:32] raandree commented on #546
Ok, closing this issue now. Please reopen if you need further support and have more data to troubleshoot.

[2018-12-21 09:32] #546 closed

[2018-12-21 11:04] #554 closed

[2018-12-21 11:05] raandree commented on #509
Closing due to no response

[2018-12-21 11:05] #509 closed

[2018-12-21 11:06] #494 closed

[2018-12-21 11:06] #504 closed

[2018-12-21 11:06] #506 closed

[2018-12-21 11:12] raandree commented on #464
Closing due to no response

[2018-12-21 11:12] #464 closed

[2018-12-21 11:37] raandree commented on #543
No, the lab scripts provided with [DscWorkshop](https://github.com/AutomatedLab/DscWorkshop/) should work. I have used them in some demoes recently.

[2018-12-21 22:15] ctmcisco commented on #406
I would also like to know how one could bring in their own VHDX in use with building a lab. Some VHDX are custom images with optimizations for Hyper-V, in the case of Linux images.

[2018-12-21 22:51] raandree commented on #406
This is actually quite easy even if we do not have direct support for it. AL create base images and the base disks are named after the operating system like 'BASE_WindowsServer2012R2Standard(ServerwithaGUI)_6.3.9600.17031.vhdx'. You just have to replace whatever AL is creating with your customized disk. However, AL needs the ISOs for the operating systems that you want to deploy even if AL will no

[2018-12-21 22:52] raandree commented on #406
@sundmoon, can you still repro the issue with updated ISOs?

[2018-12-21 22:59] ctmcisco commented on #406
@raandree I see. Thats seems logical. I assume something like renaming the AL base image to OLD, and giving the Base image name to my VHD or VHDX.

[2018-12-22 09:11] sundmoon commented on #545
@raandree
I use to try actualizing the sourcing OS images first. Did you do it?

And as for the MDT specifics, I updated the ADK download sources.
Since 1809 ADK has being split into two parts, but even the first part did not install automatically for me so I had to install it manually
Having also manually installed adkWinPE I managed to rerun Install-Lab without changing the scripts above (ignori

[2018-12-22 09:30] sundmoon commented on #546
@zakgodwin
I would join the request for sharing your changes

[2018-12-22 09:48] raandree commented on #545
I am not a ADK or MDT specialist. The custom role was provided by @GlennJC.

@GlennJC, maybe you can have a look at it.

[2018-12-22 09:50] sundmoon commented on #406
@raandree ,
As for the last November, it is no more present.
I made a couple of updated ISOs and have since been deploying VMs from them

[2018-12-22 10:09] raandree commented on #406
Perfect, closing this then

[2018-12-22 10:09] #406 closed

[2018-12-22 12:46] GlennJC commented on #545
@raandree, @sundmoon

No worries, will have a look in the next day or so.

[2018-12-23 18:46] zakgodwin commented on #546
I would post my changes but I honestly have no idea how to on here.

[2018-12-23 18:48] raandree commented on #546
You can upload files quite easily here. Just zip the changed ones, post them here and I will have a look.

[2018-12-23 19:00] zakgodwin commented on #546
[SCCM Lab 1.zip](https://github.com/AutomatedLab/AutomatedLab/files/2706219/SCCM.Lab.1.zip)
After I got it working I decided to try breaking out drives I have no idea if that works if you drop those and keep it close to the original it will 100% work.

[2018-12-28 10:11] sundmoon commented on #546
@raandree
@zakgodwin

[code]

What this can be?

[2018-12-28 12:03] sundmoon commented on #543
[code]

What this can be about?

[2018-12-29 22:59] zakgodwin commented on #546
[SCCM Lab 1.zip](https://github.com/AutomatedLab/AutomatedLab/files/2716776/SCCM.Lab.1.zip)
I goofed line# 42 `Add-LabMachineDefinition -Name sSCCM1 -Memory 8GB -DomainName contoso.com -DiskName OS, DataStorage, App, SQL -Roles $sqlRole -PostInstallationActivity $sccmRole` I was able to successfully run through the lab build to install SCCM 1802.

[2018-12-30 10:17] sundmoon commented on #546
@raandree

seems like something bad with host again?
Having my host the MDT1Server recently created with AL itself
(from BASE_WindowsServer2019Datacenter(DesktopExperience)_10.0.17763.107.vhdx)

[code]

[2019-01-03 21:52] damorris opened #561 "Question: How to get the DSC Demo1 to work"
I have a single win10 lab (singleMachine) I deployed and then copied the example into a script and saved it (demo1.ps1) . But it fails to create the configuration and fails to deploy it. I only change the lab name and computer name. If run the configuration separately it will create the demo1 directory and localhost.mof file  "F:\LabSources\DscConfigurations\Demo1" I can not figure out what I am m

[2019-01-04 12:19] #491 closed

[2019-01-04 15:22] raandree commented on #561
Have you saved the script? To find the configuration 'Demo1' AL reads the script where the config is defined. If you call the code from an unsaved script, this error is expected.

[2019-01-04 15:36] damorris commented on #561
Yes I have, first script creates the VM and the second named Dem01.pst is what I posted in the issue. I did create a new folder under SampleScripts called DSC and saved demo1.ps1 there f:\ LabSources\SampleScripts\DSC

From: Raimund Andrée [MSFT] <notifications@github.com>
Sent: Friday, January 4, 2019 9:23 AM
To: AutomatedLab/AutomatedLab <AutomatedLab@noreply.github.com>
Cc: David Morris <David.

[2019-01-04 15:38] raandree commented on #561
Ok, I will have a look very soon on this.

[2019-01-06 22:21] raandree opened #565 "Moving product keys from source code to XML"
Maintaining the product keys in the C# source code is ugly and does not give someone an easy way to add missing ones. The product keys will be moved to a separate XML file in C:\ProgramData\AutomatedLab.

@nyanhp, is the path 'C:\ProgramData\AutomatedLab\Assets\ProductKeys.xml' ok?

The format of the XML file will look liket his:

[code]

[2019-01-07 12:59] nyanhp commented on #565
Why not use our configuration data instead? It is more flexible and easier accessible.

[2019-01-07 13:13] raandree commented on #565
The class ListXmlStoreOfProductKey uses .net serialization. The code to read the product keys will be part of the OperatingSystem class and reads the file in the same way AL treats the lab and machine files. Creating a PowerShell runspace is quite an overhead to read the settings file.

[2019-01-07 16:22] briggsy87 opened #566 "Issue with MultiForestLab and the FirstChildDC role"
Hi all,

I was actually looking for a community place to ask this as a question instead of creating an issue, as it could very well be user error here, but after some searching, it seems there is no dedicated slack, IRC channel or equivalent. I had asked some of the people in the powershell.slack.com and they mentioned to just create the github issue.

I had written out a large script with multipl

[2019-01-07 16:33] nyanhp commented on #566
Hi @briggsy87 , @raandree fixed this a month ago but has not queued a release. I will have a look at our code this evening and prepare a new release if possible.

Sorry about that. The commit in question (with the nondescript name "fixing typos"....) is this: https://github.com/AutomatedLab/AutomatedLab/commit/9415a6e4a7e631e9bb6a086876c5ce91a93ac837#diff-fafd7b70f4f54de106baf9d8ed3b6d4f

[2019-01-07 16:41] nyanhp commented on #566
And yes, we do not have any dedicated way to reach us. I (personally) am too busy for things like Slack at the moment to be honest. I am probably too old for that stuff, but I find it confusing and would probably not even notice if someone was trying to reach out. But we are open to suggestions - if Slack is an appropriate medium, why not.

[2019-01-09 10:49] GlennJC opened #567 "Feature Request: Copy-LabFileItem to support -PassThru"
Would be good if the Copy-LabFileItem could support the -PassThru switch to return either the destination file that was copied to the VM if a single file, or the Directory if a directory structure was copied, e.g.

[code]
or
[code]

This would allow a more parameterized version of code, rather than hard-coding or pulling apart paths when running things like Install-LabSoftwarePackage

[2019-01-09 11:02] GlennJC commented on #483
@raandree I have updated the Exchange2013 Custom Role to support the New Split ADK installations (as fixed in the MDT role), plus added support for CU21, I will issue a pull request in the next couple of days.

[2019-01-10 22:42] marcelfinkde opened #571 "Issue with Hyper-V"
Hello,

i get the following error message and i don't know how to fix it. I have a fresh installed pro Version and HyperV is activated. I just started to learn so i'm really new to this topic:

[code]

[2019-01-14 20:09] briggsy87 commented on #566
@raandree that is an option as well. Although, I feel that working with the Administrators behind the [Powershell Slack](https://powershell.slack.com/) might be a better option, since they already have a large community of Powershell enthusiasts, with a range of channels from DSC to VMWares PowerCLI, etc. For them, they could just add a new channel for AutomatedLab. But ultimately, a community in

[2019-01-14 23:44] raandree commented on #561
I think I have found and fixed the issue. The RegEx in the DSC code did not consider machines with '-' and '_' in the machine name. Can you try the latest dev build [here](https://ci.appveyor.com/project/AutomatedLab/automatedlab/builds/21618170/artifacts), please?

[2019-01-14 23:47] raandree commented on #566
Thanks for your feedback @briggsy87. We will discuss which kind of chat support we are going to use.

[2019-01-14 23:47] #566 closed

[2019-01-16 01:14] damorris commented on #561
I am getting a different error.
First here is my script to create the VM. I modified the Single 10 Client sample under hyper-v in sample scripts.

$labName = 'SingleMachine'

#create an empty lab template and define where the lab XML files and the VMs will be stored
New-LabDefinition -Name $labName -DefaultVirtualizationEngine HyperV -VmPath "H:\AutomatedLab-VMs"

#make the network definition
Add-

[2019-01-16 15:38] DominikGeimer opened #574 "Waiting for machines to start up...."
Hi,

my Hyper-V Host is Windows 10 Version 1809 and I want to use the new windows integrated "default switch".

Everything works fine, but the deployment hangs on: Waiting for machines to start up ...

If I open the VM directly from the hyper-v manager I can the windows sidebar where I need to confirm the Network. I think that is the problem...

Any Idea how to solve it? At the bottom is my script

[2019-01-17 07:21] DominikGeimer commented on #574
Maybe your sample script has to be updated, too?

https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/SampleScripts/Introduction/02%20Single%20Win10%20Client%20(internet%20facing).ps1

And I think there is an error in the last line:

Add-LabMachineDefinition -Name Client1 -Memory 1GB -OperatingSystem 'Windows 10 Pro' -Network External

It has to be -Network 'Default Switch' and no

[2019-01-17 14:45] raandree commented on #574
Thanks, this is fixed now.

[2019-01-17 14:46] raandree commented on #571
Closing due to no response.

[2019-01-17 14:46] #571 closed

[2019-01-17 14:46] raandree commented on #565
Pushed the changes today.

[2019-01-17 14:46] #565 closed

[2019-01-17 17:00] #574 closed

[2019-01-17 17:03] raandree commented on #567
@GlennJC, can you have a look at PR #579, please? This should address you request.

[2019-01-17 17:40] raandree commented on #543
I have just tested the lab again and it worked without any error. The root cause for errors creating a VMs is usually some conflicting files. Please make sure that there are no old remains from a previous deployment.

[2019-01-17 17:40] #543 closed

[2019-01-18 12:17] raandree commented on #446
Implemented by @GlennJC in #564

[2019-01-18 12:17] #446 closed

[2019-01-18 12:17] raandree commented on #483
Implemented by @GlennJC in #564

[2019-01-18 12:17] #483 closed

[2019-01-18 21:02] #567 closed

[2019-01-21 18:11] damorris opened #581 "Please reopen ...How to get the DSC Demo1 to work #561"
Solution is not working ...Please see last comment

[2019-01-21 19:02] raandree commented on #581
Just curious, can't you reopen the issue?

[2019-01-21 19:29] #581 closed, assigned to nobody

[2019-01-21 19:31] raandree commented on #561
@damorris, do you have a machine on Azure with a repro? If not, I can provide one.

[2019-01-21 19:33] damorris commented on #561
No I don’t

[Microsoft Logo]

David Morris
Sr PFE
Microsoft
US PFE - Public Sector

Office: +1 (469) 7752612
Mobile: 940-206-3614
david.morris@microsoft.com<mailto:david.morris@microsoft.com>

[Twitter]<https://twitter.com/Microsoft>    [Facebook] <https://www.facebook.com/Microsoft>     [Linkedin] <https://www.linkedin.com/company/microsoft>     [Youtube] <https://www.youtube.com/user/Microsoft>

[2019-01-21 23:24] pm091 opened #582 "Can't install Windows 2019 Evaluation Editions"
Hi,

When trying to install a lab with Windows Server 2019 Datacenter Evaluation as the lab os returns an error when trying to create the base image

[code]

settings for operating system

[code]

Output from Get-LabAvailableOperatingSystem

[code]
#
Please can the keys be added for evaluation editions of windows server 2019 ?

[2019-01-28 09:44] nyanhp opened #583 "[Azure] Additional disks break automation"
Configuring additional disks now requires manual input after the migration from AzureRM to Az.

[2019-01-28 10:27] #582 closed, assigned to raandree

[2019-01-28 20:51] raandree commented on #561
Thanks, that helps. I wanted to spin one up today as well but some other stuff filled up my day.

I can have a look tomorrow from 1500 GMT+1 onwards.

[2019-01-30 13:30] #226 closed

[2019-01-30 14:51] nyanhp commented on #583
fixed with latest master

[2019-01-30 14:51] #583 closed

[2019-01-31 09:42] #495 closed

[2019-02-01 01:48] GlennJC opened #590 "Question regarding paramter synching for Custom Roles"
## How to correctly merge parameters from Get-LabPostInstallationActivity and HostStart.ps1 for Custom Roles

When using custom roles (I'll use the MDT role as an example), parameters not provided in the Get-LabPostInstallationActivity call from the parent script are not merged with the param definition in the HostStart.ps1 file, causing the Sync-Parameter call to end up with an incomplete list of

[2019-02-01 18:30] CodeblackNL opened #591 "installer does not create correct folder structure for modules"
## Description
The msi installer for version v5.5.268 installs the PowerShell modules with a version-folder "5.5.268.0" instead of "5.5.268". Since the module version of the modules is "5.5.268", PowerShell does not load the modules.
Installing the modules from the PowerShell Gallery works fine.

## Expected behavior
Folder-structure for modules corresponding with the actual version of the modules

[2019-02-01 18:40] raandree commented on #591
Thanks for reporting this. Will be fixes very soon.

[2019-02-02 14:40] ryanjnel commented on #245
im have the exact same issue. Tried Disabling Defender but still crashes. Domain Joined machine. what was the workaround or fix here ?

[2019-02-07 11:01] #591 closed

[2019-02-10 23:47] nyanhp commented on #447
Hi @michelkamp , I've implemented something for the upcoming release:
[code]

[2019-02-10 23:47] #447 closed

[2019-02-17 17:00] mfgjwaterman opened #601 "Autoadminlogon"
Hi,

I've been testing with Automatedlab for the last few weeks and it's looking pretty easy thus far. I've been able to find the parameters for enabling the firewall and UAC after the deployment is finsihed, however one thing still eludes me.

Once I've depoyed a LAB all the machines do an autoadminlogon. How do I remove that? Is there a cmdlet available or what's the recommended approach here?

[2019-02-17 17:46] raandree commented on #601
Thanks for trying AL. We have not added functions for managing the AutoLogon. However, it can be disabled quite easily for all machines:

[code]

Hope that helps.

[2019-02-18 07:09] mfgjwaterman commented on #601
Hi Raimund,

Thanks for the answer. This is what I wanted to know! Keep up the good work.

Michael

[2019-02-18 08:10] nyanhp commented on #601
Hi @mfgjwaterman we have the cmdlet Set-LabAutoLogon, but I can just as well add Enable and Disable-LabAutoLogon to make it more transparent. Initially we did not think about exposing this functionality, and especially for the SQL installation and other interactive tasks we require the AutoLogon user to do things.

After a lab deployment it can make sense to deactivate it of course. Stay tuned ;)

[2019-02-18 15:36] mfgjwaterman commented on #601
That would make me a very happy user. If you want a test subject, let me know!

Greetings from a former security PFE!

[2019-02-21 10:32] mfgjwaterman opened #606 "Network setup"
Hi Team,

I would like to have a validation of what I’m doing is the correct way. I’m trying to set up a LAB environment that uses a preconfigured existing virtual switch named “External Virtual Switch” (For the lack of creativity). VM's should use this Network Adapter for the LAB. The simplified script I’ve created is:

New-LabDefinition -Name Demo -DefaultVirtualizationEngine HyperV
Add-LabVirtu

[2019-02-21 13:11] raandree commented on #606
I am pretty sure that we do not do all possible checks. I have just realized that if the address space is equal but the subnet mask is not, no warning will be written. In my case I haven't seen the warning that you get.

1. And yes, the approach is fine. This is how AL should be used.
2. Yes, the subnet mask is just assigned per virtual switch. When adding a machine to the lab, it gets the subnet

[2019-02-21 14:22] mfgjwaterman commented on #606
Hi,
Thanks for the feedback. The machine is completely operational as expected. it's just the warning that pops-up. I'll let it sit for now, as it seems to be working as I want it to be.

I had some issues with the "New-LabNetworkAdapterDefinition" cmdlet. It always seems to be wanting to create the adapter, even if it already exists, resulting in an error. Or is there a parameter that I'm missing

[2019-02-21 14:26] mfgjwaterman commented on #606
Right and what I just remembered. The New-LabNetworkAdapterDefinition sets the IP address on the adapter / switch. Since my remote LAB server just has one NIC and a static IP address I can't use it. At least from what I've been able to test. .... Although I have to admit my knowledge is still limited on the inner workings

[2019-02-21 19:45] raandree commented on #606
'Add-LabVirtualNetworkDefinition' creates the virtual switch whereas 'New-LabNetworkAdapterDefinition' lets you define a network adapter inside a VM. I have successfully used 'New-LabNetworkAdapterDefinition' with a customer having VMs with 4 NICs and each one has more than one IP address. It looks like this:

[code]

[2019-02-25 17:41] mfgjwaterman opened #608 "Installed and ready machines not detected"
Hi Team,

I've been using AL for a few weeks now and I think I'm getting more familiar with it. Got a LAB up and running that's repeatable and easy to use. So far so good.

One thing that I can't figure out that at random intervals a successfully deployed machine is not detected after as such. The counter (the little dots) just keep increasing until after a few hours it generates an error. I've be

[2019-02-26 10:09] raandree commented on #606
HI @mfgjwaterman, can we consider this issue solved?

[2019-02-26 10:22] mfgjwaterman commented on #606
Hi, Sorry, yes, case closed and a massive thank you!

[2019-02-26 10:23] #606 closed

[2019-02-26 10:26] raandree commented on #608
Hi @mfgjwaterman,

what we are missing is a FAQ or troubleshooting section in the Wiki.

Internally AL just uses PowerShell Remoting. If a machine cannot be reached by AL, please try the following:
- AL puts an entry in the lmhosts file to be able to talk to the machine by name. Did this work?
- Can you ping the machine? By default, AL disabled the Windows Firewall so ping should work.
- Can you c

[2019-02-26 10:55] mfgjwaterman commented on #608
Hi,

I did the tests and got these results:

- I assume that you meant hosts not lmhosts? If that's true, yes all entries are present in the hosts file. Both the hostname and fqdn of the VM's are present.

- I enable the firewall with the -EnableWindowsFirewall parameter of the "Add-LabMachineDefinition" cmdlet, so I don't get a response from icmp. However the correct IP address is resolved (Obvio

[2019-02-26 14:55] mfgjwaterman commented on #608
Some feedback.

Did some testing with the firewall on and off. Having the firewall off results in a successful deployment. Turing the firewall on again with the "Add-LabMachineDefinition" results in a "hanging" deployment.

I'm a bit lost at what I can do here.

[2019-02-26 15:11] raandree commented on #608
Thanks for your time. So, does it mean that a deployment with the firewall enabled always fails?

[2019-02-26 17:47] mfgjwaterman commented on #608
Basically that's the case. But it's get stranger even. I've ran a test with just one machine with the firewall on and that was successful. Did a test with two machines with both the firewall on and that test was also successful. Anything above 2 machines seem to be unsuccessful.  I'm going to transfer to another physical machine and run the tests there again. See if the result is the same. It will

[2019-02-27 07:52] mfgjwaterman commented on #608
I think I solved it.

I took my script to another machine and did two successful deployments in a row. So that let me to the conclusion that it had to be something specific to my lab server. On that server I started a new deployment but now just using an internal switch. Miraculously that deployment was successful. That got me thinking, perhaps it's a hardware resourcing / performance related issu

[2019-02-27 11:00] raandree commented on #608
Thanks for your efforts. These are the issues hard to find and hard to document. This issue is quite specific and not the stuff that should make it into a FAQ.

Please reach out to us in case you have further issues or feature requests.

[2019-02-27 11:00] #608 closed

[2019-02-28 11:58] nyanhp commented on #601
Hi @mfgjwaterman , this feature will make it into the next release. If you are keen to test this, you can work with the development code. It basically boils down to the following:

[code]

There already is a function called ```Test-LabAutoLogon``` that you can use to check if AutoLogon is already enabled on a node.

[2019-03-01 09:43] mfgjwaterman commented on #601
Hi There,

I will sure give it a try in the next few day. Thanks for making this happen!!!

[2019-03-01 10:38] mfgjwaterman opened #609 "Default Switch With Static IP"
I'm trying to use the Windows 10 default switch instead of creating one myself. One thing I can't figure out is how to define the subnet in that case. If I use this code:

[code]

It outputs this error:

[code]
Is there an easy way to define the subnet mask somehow?

ps: "Standaard schakeloptie" is dutch for "default switch"

[2019-03-01 10:53] raandree commented on #533
Hi @sundmoon, I have finally found the XML issue you reported back some time ago when working on another project. I have used the serialization classes there as well and did run into the same issue. This should be fixed now in #610.

[2019-03-01 11:30] raandree commented on #609
Just to understand your scenario: Why do you want to set the IP address of the default switch if it already has one? Do you want AL to assign the IP addresses to the lab VMs?

I have just tried to specify an IP address for the default adapter like this:
[code]

My default switch config on my host looks like this:
[code]

[2019-03-01 12:08] mfgjwaterman commented on #609
That's the thing. I don' want to set an IP address on my "Default Switch", I just want to use the "Default Switch" for my Virtual machines. However, this is the only way I'm familiar with that lets me assign a subnet mask to a VM. If there's another way, please let me know.

[2019-03-01 15:43] mfgjwaterman commented on #609
To explain it a bit further. Consider this code:
[code]
The above will create a Windows 10 machine and assign it to the "Default Switch". The installed machine uses DHCP from the "Default Switch". Great and very convenient for a quick lab setup on Windows 10.

Now consider that I want to use the same "Default Switch", but without using it's DHCP capabilities. As far as I've learned thus far, I fir

[2019-03-01 16:26] raandree commented on #609
I would love to help but I cannot repro it.

Can you try to debug this a bit further. This problem seems to start in AutomatedLabDefinition.psm1::2422 and 2436. For some reason the address space of the existing default switch cannot be retrieved. This is why AL tells you "is different from the address space **'should nto be empty'** used by currently existing Hyper-V switch with same name".

[2019-03-01 16:54] mfgjwaterman commented on #609
I'll start on that Monday, for the time being I've solved it with this code:

[code]

[2019-03-02 23:00] raandree opened #611 "Introduce Get-LabVMSnapshot"
## Description

It is not possible to see snapshots easily from PowerShell. A cmdlet like 'Get-LabVMSnapshot' would be handy, especially for Azure.

## Expected behavior
'Get-LabVMSnapshot' shows a list of snapshots for all VMs specified. The date when the snapshot has been taken could also be interesting.

## Actual behavior
Not available.

[2019-03-06 09:54] #611 closed

[2019-03-07 09:58] bigoals365 opened #615 "Get-LabAvailableOperatingSystems does not display any ISO available with 4 in \LabSources\ISOs"
## Description

AL 5.7.0 cannot see the O/S's in cache and will not use my Win Server 2016 x64 Eval ISO. AL cannot discover the WIM's names and other items, internal to the ISO.

I am using AL 5.7.0 on Win 10 x64 Pro 1803 and all patched

3 Years ago this ISO worked great on a previous version of Win 10 and AL.

This is similar to Issue #310 and #490.

How do I make AL list my O/S's and recognized

[2019-03-07 10:06] bigoals365 commented on #615
## PowerShell Transcript

[AL_transcript.txt](https://github.com/AutomatedLab/AutomatedLab/files/2940625/AL_transcript.txt)

[2019-03-07 12:12] raandree commented on #615
Interesting, I did have the same error on one single machine out of 10 as well. Either a reboot or calling 'Clear-LabCache' helped.

Unfortunately, debugging the error was not possible. There was no exception created by "The type initializer for 'AutomatedLab.OperatingSystem' threw an exception.".

[2019-03-07 12:51] bigoals365 commented on #615
## Newest PS Transcript After Clearing Cache

[AL_trans_1.txt](https://github.com/AutomatedLab/AutomatedLab/files/2941265/AL_trans_1.txt)

[2019-03-07 12:54] bigoals365 commented on #615
What did the customer do to solve the issue in #310 ?

What names should I use for Add-LabMachineDefinition:OperatingSystem' = 'Windows Server 2016 Datacenter Evaluation (Desktop Experience)' # 'Windows Server 2016 SERVERDATACENTER'

[2019-03-07 12:56] bigoals365 commented on #615
What tips do you have for me debugging this?

I have shown that DISM can read my WIM's with the new names...

**Where in the AL life cycle is this breaking?**

[2019-03-07 13:25] raandree commented on #615
The error "The type initializer for 'AutomatedLab.OperatingSystem' threw an exception" is the root for all the other error I guess.

#310 is something different. It was opened at a time when Microsoft changed the naming of operating systems. The file [ProductKeys.xml](https://github.com/AutomatedLab/AutomatedLab/blob/develop/Assets/ProductKeys.xml) contains all currently supported operating system

[2019-03-07 13:56] bigoals365 commented on #615
Well tell me what to set or code to write. Do you use VS Code to debug PSH?

What am I getting this error, I am not trying to connect to Azure:

TerminatingError(): "No Azure Context found, Please run 'Connect-AzAccount' first"

I just found a Win 2012 Server ISO, cleared the cache and I still have the same problems

[2019-03-09 23:27] raandree commented on #615
I have tried to repro the issue but did not have any success. I have seen the issue just once out of about 20 machines I was working on during the week. On that single box the error disappeared after a reboot.

I am not sure if the Azure error which is thrown [here](https://github.com/AutomatedLab/AutomatedLab/blob/2f06b6cd670ee2a93f22363dd199ecc2b1d3b7ca/AutomatedLab/AutomatedLabAzure.psm1#L1291)

[2019-03-10 05:45] rulincapo opened #618 "Unable to creathe the VM "The base image for operating system 'Windows Server 2012 R2 Datacenter Evaluation (Server with a GUI)' could not be created. The error is 2""
![image](https://user-images.githubusercontent.com/48400792/54081140-b2fa7c80-42cd-11e9-8c37-5debd2a22b94.png)

[2019-03-10 06:10] rulincapo commented on #618
forget it, solved

[2019-03-10 06:10] #618 closed

[2019-03-12 07:32] #423 closed

[2019-03-13 17:54] mfgjwaterman opened #619 "Server Hyper-V 2019"
Team,

I've moved from server 2016 to Server Hyper-V 2019 and it appears as if AutomatedLab is unable to work on that version. It installs successfully but after trying to setup the LabSources folder it crashes. CMDLet I'm using is "New-LabSourcesFolder -Driveletter D:". The output is:

Process is terminated due to StackOverFlowException.

Can you please assist?

[2019-03-22 10:31] bestofbasile commented on #488
I had the same issue, but I found the root cause.

I was trying to deploy VM in Azure, with AdminUsername equals to 'Administrator' (which is not possible in Azure).

I also had to change the password proposed by default in the templates because it does not meet the Azure prerequisites.

Suggestion: Is these 2 points can be checked during the VM lab definition step ?

[2019-03-22 11:08] nyanhp commented on #488
@bestofbasile that's a good idea. I'll open an issue to track it!

[2019-03-22 11:11] nyanhp opened #621 "Azure Deployments should validate admin user and password before deploying"
Deploying a standard lab on Azure uses Administrator as the default user, which does not work on Azure. Also, the password complexity needs to be validated.

[2019-03-22 11:13] nyanhp commented on #619
oh boy... I'll look into it. I saw this exception when accessing the lab drive, but not when deploying a lab.

[2019-03-22 15:22] bestofbasile opened #622 "Azure VM OS - Windows 2019 Server"
Hello,

Maybe I missed something but, how to install a Windows 2019 server in Azure ?
What should be the Lab definition Operating system parameter ?

If a run the following powershell command:
`Get-LabAvailableOperatingSystem -Azure -Location Westeurope`

I get this result
[code]

So windows 2019 Server does not seem to be available
Do I miss something?

[2019-03-24 09:21] mfgjwaterman commented on #619
At the moment I've reverted back to server 2016. Hope you can fix it.

[2019-03-25 08:11] nyanhp commented on #619
Hi @mfgjwaterman which build are you using? I just tried to reproduce the issue and had no problem:
[code]

[2019-03-25 08:15] nyanhp commented on #622
Thank you for the info @bestofbasile ! I did not notice it was gone, I had it configured a while ago. The problem is the missing mapping between "our" OS name and the one on Azure. Will fix ASAP

[2019-03-25 14:25] nyanhp commented on #619
Hi @mfgjwaterman one additional info: Raimund improved the module loading times since our last release. I suspect it might have to with that. Due to another issue I published a new release. If you have the time to test this on Server 2019 as well, I would appreciate it. With my build it works, including doing a ```Get-ChildItem -Path Labs:``` (AutomatedLab.Ships installation required ;) )

[2019-03-26 12:43] nyanhp commented on #622
Hi @bestofbasile issue fixed with yesterday's release. Please update your installed version of AutomatedLab either through PSGallery or with the MSI installer and give it a try!

[2019-03-26 12:43] #622 closed

[2019-03-26 13:04] mfgjwaterman commented on #619
Hi,

The $PSVersionTable output is a one-on-one match with yours. I've installed the modules again on a clean W2K19 machine but it's not improved, it's got a bit worse actually. Any lab command I'm trying to run now ends up in a "the term "NewLabSourcesFolder" is not recognized as the name of a cmdlet......"

If I do a get-module I see it being present and loaded, also put the executionpolicy to u

[2019-03-26 14:28] bestofbasile commented on #622
@nyanhp It works.
Thanks for your support on this.

[2019-04-01 13:22] NakedPowerShell commented on #615
I reinstalled AutomatedLab, cleaned out any old Modules, ran the Clear-LabCache and it **works now**!

[2019-04-09 16:08] michelkamp commented on #341
hi, sorry but i am using AL version 5.9.0 and i still have this issue. I get "VERBOSE: Port was NOT open, cannot create session." and then it takes hours to finish.

See log:
PS C:\Windows\system32> ## == build the lab
$labName="ACCORACLE"
$nrOfLabMachines=1
$labVmName="ACCORACLE"

New-LabDefinition -Name $labName -DefaultVirtualizationEngine Azure -AzureSubscriptionName $AzureSubscriptionName

Ad

[2019-04-10 04:25] gengle opened #626 "Custom-Roles.md Wiki misspelling"
The word `Simple` was spelled `Simlpe`

**Fork**
https://github.com/gengle/AutomatedLab.wiki.git

**Change**
https://github.com/gengle/AutomatedLab/wiki/_history

**howto squash and update**
[code]

[2019-04-10 07:26] michelkamp opened #627 "QUESTION: MemoryWeight_OpsMgr"
I see a default param called : MemoryWeight_OpsMgr
The name indicates OPSMGR is this SystemCenter Operations Manager (SCOM) ? Does this mean there's next to SCCM also a SCOM role  ? This would be great but i can't find it ;-)

michel

[2019-04-10 21:08] jwmoss opened #628 "New-LWHypervVM : Exception calling "Substring" with "2" argument(s): "Index and length must refer to a location within the string."
## Description

Error when creating any new Hyper-V VM.

## Expected behavior

## Actual behavior

[code]

## Steps to reproduce

[code]

## Environment details

PowerShell Version
[code]

AutomatedLab components
[code]

[2019-04-11 03:03] #628 closed

[2019-04-11 03:03] jwmoss commented on #628
Re-installed module after identifying I had an older version of AutomatedLab installed. Facepalm.

[2019-04-11 06:07] michelkamp opened #629 "Remove-Lab not removing azure resources."
## Description
Remove-Lab not removing azure resources. I have a RG where i am Owner (set by IAM) deploying works but removing by AL not..

## Expected behavior
Lab and all Azure resources to be removed.

## Actual behavior
The resources on azure are not removed

See Log:
PS C:\Windows\system32> Remove-Lab $labName
Lab 'Authoringdays2019' hosted on 'Azure' imported with 19 machines
07:54:40|00:44:

[2019-04-11 09:54] nyanhp commented on #629
Sorry to hear that, that is very odd. The Remove-AzResourceGroup cmdlet finished in 1 second according to your output. I have deployed a large number of Azure labs recently, and I have to say, it always took longer to execute the cmdlet and removed everything.

Since the rest of the lab is removed, you need to remove the resource group manually, I'm afraid. What you could check for me is the outpu

[2019-04-11 12:00] nyanhp commented on #629
@michelkamp to reproduce the issue better: When exactly did you remove the lab? In the same session you deployed it in? Or did you create a new session? The "Steps to reproduce" unfortunately are not clear enough, so that I would have to say "It works" and close the issue. See my following example, which works just fine.

[code]

[2019-04-11 22:16] raandree commented on #627
Sorry, unfortunately no. Someone might have started adding the role but it was never implemented?

[2019-04-11 22:16] #627 closed

[2019-04-11 22:21] raandree commented on #626
Thanks, change is merged.

[2019-04-11 22:21] #626 closed

[2019-04-18 05:43] nyanhp opened #630 "HostsFile module references PSLog"
## Description

The hosts file module references PSLog and cannot be run without downloading AutomatedLab.

## Expected behavior

It should be useable standalone like AutomatedLab.Common.

I propose a separate release process for all modules that are part of AutomatedLab, which would allows us to fix small issues like this without releasing ALL modules in a new version to the gallery.

What do you

[2019-04-18 13:46] raandree commented on #630
I cannot see a strong reason why the HostsFile module should have a dependency with PSLog. Right now it uses Write-Log* functions from the PSLog module but we can remove the calls.

[2019-04-19 14:33] nyanhp commented on #619
Hi @mfgjwaterman I tried it with our recent Server 1903 as well and cannot reproduce the issue. The module is downloaded just fine. There is no StackOverflowException thrown, and all cmdlets are resolved just fine.

On a fresh installation of 2019 I executed:
[code]

Can you confirm that you are still experiencing the issue?

[2019-04-19 14:36] nyanhp commented on #629
Works as intended. Only thing I can imagine is a $null value being returned which would be a reason for your RG not to be removed. This will be fixed with #631

[2019-04-19 14:36] #629 closed

[2019-04-22 12:39] mfgjwaterman commented on #619
I went back to server 2016 for my test lab and can't test it at the moment. Once Microsoft finally releases the updated Hyper-V 2019 I'll give it another try.

Thanks for all the effort!

[2019-04-22 22:30] v2kiran opened #632 "DSC reporting - custom view error on order by"
## Description

When I try to create the custom view "vBaseNodeLocalStatus"  for the powershell dsc database I get an error about order by clause

## Expected behavior
view is created without errors

## Actual behavior

`Msg 1033, Level 15, State 1, Procedure vBaseNodeLocalStatus, Line 59 [Batch Start Line 0]
The ORDER BY clause is invalid in views, inline functions, derived tables, subqueries, an

[2019-04-24 08:10] bestofbasile opened #633 "Keyboard layout"
Hello,

Is there any ways to personalize the keyboard layout for VMs we are deploying?
Any recommendation about how to proceed ?

Thanks,

[2019-04-24 14:54] raandree commented on #633
Hi,

the cmdlet 'Add-LabMachineDefinition' provides the parameter 'UserLocale'. Unfortunately, IntelliSense does not work as expected. It should give you a selection of available cultures. A list of supported cultures can be retrieved like this:

[code]

Does this work for you?

[2019-04-26 06:57] bestofbasile commented on #633
It works well.
Thanks for your support 👍

[2019-04-26 07:51] #633 closed

[2019-04-29 18:23] raandree commented on #632
For now I have just removed the ```ORDER BY EndTime DESC GO``` and the TSQL script runs fine now. However, I need to test the reporting to see if this has a negative effect.

[2019-04-30 21:01] v2kiran commented on #632
since the time I reported the issue I had the same idea of disabling the `order by` clause so I created a new dsc database changed the references in the pullserver and things seemed to work in the beginning but when i tried to access the view : `vNodeStatusComplex`

i got this error:

`Msg 512, Level 16, State 1, Line 2
Subquery returned more than 1 value. This is not permitted when the subquery f

[2019-05-01 13:07] nyanhp opened #639 "Azure: TFS workers are not deployed properly"
they should be. working on it

[2019-05-03 05:29] GlennJC opened #641 "Labs fail with no internet access in 5.9.0"
## Description

When executing labs where the physical host has no internet connectivity, the following error is thrown:

[code]
Note: This error does not occur in 5.7.0 for an identical automated lab script.

## Expected behavior

No error thrown when physical host cannot access the internet in this case. For non-Azure labs providing all files have already been pre-staged, there is no actual requ

[2019-05-03 10:08] nyanhp commented on #641
Hi @GlennJC , thank you for the complete analysis, that was extremely helpful. We will prepare a new release as soon as possible.

[2019-05-08 08:42] raandree commented on #639
I did a test with the latest build overnight and unfortunately do not have build workers registered.

[2019-05-08 10:51] raandree commented on #639
After making the function 'Install-LabBuildWorker' externally available and calling it after the deployment, the build workers have been successfully registered. Trying it another time and have set some breakpoints.

[2019-05-08 10:55] nyanhp commented on #639
You merged the PR too early I think. I noticed that my last commit was missing. I swapped Start-Process for the Ampersand and things improved quite a bit. I'll include it in my next PR that implements Azure DevOps

[2019-05-10 14:31] raandree opened #646 "Restore-LabVMSnapshot throws errors"
## Description

Azure snapshots are not restored

## Expected behavior

Azure snapshots to be restored and the old VM's disk deleted.

## Actual behavior

Azure snapshot is not restored. However you get one error per machine.

[code]

## Steps to reproduce

[code]

[2019-05-12 22:11] cjb1122 opened #647 "Unable to delete VM names"
Hi

## Description
Remove-Lab is not removing the server names. I need to start all over in creating my lab because none of the VMs will start (Hyper-V says they're running but when I connect to them it's just a black screen). I was finally able to delete the VMs after disabling Hyper-v and power cycling my host PC but when I attempt to recreate the VMs it tells me the names that I'm trying to ass

[2019-05-13 01:19] GlennJC commented on #641
Edit: Removing a lab had the same issue, so also need to perform the same fix in the Remove-LabAzureLabSourcesStorage function as well.

[2019-05-17 08:40] nyanhp commented on #641
Closed with current release to PowerShell Gallery

[2019-05-17 08:40] #641 closed

[2019-05-17 08:40] nyanhp commented on #639
Closed with current release to PowerShell Gallery

[2019-05-17 08:40] #639 closed

[2019-05-17 08:43] nyanhp commented on #519
Hey @FriedrichWeinmann , AutomatedLab.Recipe was my idea for this issue. However, I would like to see your packages in addition to that. Check out the Recipe module when you get started and start modifying from there. I think Recipes + Pluggable packages would be pretty cool.

[2019-05-17 08:45] nyanhp commented on #518
Servus @FriedrichWeinmann , This is implemented with https://github.com/AutomatedLab/AutomatedLab/pull/656 now. But please give it a look and let me know what I did wrong :)
We register the configuration items in the init script. I really like the flexibility of the PSFramework for the end user.
If you think that my implementation is okay, then please go ahead and close this issue!

[2019-05-17 08:46] nyanhp commented on #517
Started with this in https://github.com/AutomatedLab/AutomatedLab/pull/656, feel free to add to it!

We register the PSFArgumentCompleters in more than one place though. When importing a lab and when importing the module.

[2019-05-17 08:48] nyanhp commented on #515
We will need your help on that one @FriedrichWeinmann . We have many instances where we cannot use Write-PSFMessageProxy yet since we use unsupported parameters like ForegroundColor or TargetObject.

For our intents and purposes this does not matter all that much. With the New-PsfSupportPackage the contents of $Error are exported, so we do not lose any information. And the slew of Write-Host calls

[2019-05-17 08:58] nyanhp commented on #647
That sounds very odd. Did you encounter any issues while creating the base images? What kind of storage are you using for the base images? If you are using spinning disks -> Please upgrade to SSDs.

Instead of scrapping the entire Hyper-V I would recommend for next time: Remove the base images before deploying the next lab. Maybe the creation ran into an error, which would explain a black screen.

[2019-05-17 11:56] FriedrichWeinmann commented on #515
Expect an update to implement the parameters soonish. Possibly today or Sunday.

[2019-05-26 14:40] duncanmccreadie opened #657 "Server 2019 v1903 - product key"
## Description

I am trying to use the ISO for 2019 v1903 with the Product Keys I get with my MSDN benefits and it keeps failing

## Expected behavior

LabMachineDefinition should take the ProductKey parameter and process it to completion

## Actual behavior

The product key is unknown for the OS 'Windows Server Datacenter' in ISO image ''. Cannot install lab until this problem is solved.
At C:\Pr

[2019-05-27 16:59] raandree commented on #657
Thanks for reporting this. It seems to be an issue with the version number handling. I am working on a fix...

[2019-05-27 17:01] duncanmccreadie commented on #657
Thanks for the update. Good luck with the fix.

On Mon, 27 May 2019, 17:59 Raimund Andrée [MSFT], <notifications@github.com>
wrote:

[2019-05-31 01:14] tweekerz commented on #23
I see the same as @michelkamp FriendlyName is not doing anything. Has this been implemented?

[2019-05-31 22:03] raandree commented on #646
The error does only occur, if the snapshot of more than one machine should be restored.

[2019-06-01 13:19] raandree commented on #646
This seems to be an issue with Azure. A ticket with Microsoft has been opened.

[2019-06-02 17:33] toybits opened #659 "Documentation problem"
## Description

I'm trying to get documentation on the cmdlets but it doesn't seem to be that concise.

Get-Help doesn't bring back much.

Specifically I'm trying to read about the Add-LabVirtualNetworkDefinition cmdlet.

The "Complex Internet Connected" page on the Wiki just goes back to the Wiki Homepage.

https://github.com/AutomatedLab/AutomatedLab/wiki

Is there any other documentation?

[2019-06-02 20:54] bessonniy commented on #659
2403

[2019-06-03 08:09] nyanhp commented on #659
Hi @toybits , Get-Help for that particular cmdlet is quite good I would say. Just import AutomatedLab first (need to work on that) What are you looking for in particular?
[code]

But I agree that in general, both the wiki as well as the cmdlet help needs to be updated. I have long wanted to use PlatyPS for that, maybe now would be a good time.

[2019-06-03 08:14] nyanhp opened #660 "Enable-LabHostRemoting sometimes crashes the CLI"
## Description

Creating a new lab for the first time (or after a GPO-induced change) triggers Enable-LabHostRemoting. Occasionally, this crashes the CLI/ISE while setting GPO settings.

## Expected behavior

No crash, graceful error handling

## Actual behavior

CLI/ISE just crashes (or exits, who knows) without any error

## Steps to reproduce

[code]

Call Enable-LabHostRemoting on the nested H

[2019-06-04 09:30] nyanhp commented on #660
In PowerShell Core for reasons unknown the error is properly reported in the Application Log as an app crash, giving me some pointers.

From the remarks on <https://docs.microsoft.com/en-us/windows/desktop/api/gpedit/nf-gpedit-igrouppolicyobject-save> it seems that updating the policy (when enabling user or computer settings) triggers a gpupdate:
[code]

It looks to me as if the calls to Save(isMa

[2019-06-04 22:20] #657 closed

[2019-06-06 08:32] #660 closed

[2019-06-09 06:50] Daigz opened #665 "bcdboot.exe not found"
## Description
It's been a while since I used AutmatedLab on my labserver so I decided to upgrade and try out some new features. So I decided to install the latest 5.10.00 (msi) från the releaserepo.

## Expected behavior
My old labcreation scripts should pass.

## Actual behavior
During creation of a baseimage the following error is thrown and the script i stopped:

Also see pictures. When trying

[2019-06-11 07:37] nyanhp commented on #665
@Daigz from the looks of your screenshot, you are using the 32 bit PowerShell. While I have not tested AutomatedLab with this, I am certain there will be multiple issues. bcdboot cannot be found, for example.

Could you please try switching to the regular powershell.exe (64bit) and rerun your script?

[2019-06-13 01:12] damorris opened #666 "How to create multiple version coexistence lab EX 2013 & 2016"
## Description

I am looking to build a coexistence Exchange labs ( 2010, 2013, 2106 2019 ) I am trying to figure out how to install Exchange in the lab one version at a time. Now that Exchange is a customer role I can't use the install-lab -ExchangeXXXX. Is there a way to do this with custom roles so that all servers with each custom role install and finishes before the next custom role starts?

[2019-06-13 05:30] nyanhp commented on #659
Hi @toybits,
check out https://automatedlab.org for documentation - I have converted all of our help to markdown and will continue to update the help content. I consider this issue closed, but feel free to reopen it if you are missing documentation on something.
The complex Internet connected scenario is indeed missing. I'll talk to @raandree and see what he had in mind for that.

[2019-06-13 05:30] #659 closed

[2019-06-13 12:27] nyanhp commented on #665
I'll go ahead and close this issue, @Daigz . Please let us know if you continue having issues after using 64bit PowerShell!

[2019-06-13 12:27] #665 closed

[2019-06-13 15:26] nyanhp commented on #647
Closing the issue as it has become stale. Please reopen the issue if the problem is still existing.

[2019-06-13 15:26] #647 closed

[2019-06-14 08:38] nyanhp commented on #630
Will be fixed with the next PR. Incidentally, the module will also become Linux-compatible...

[2019-06-14 08:38] #630 closed

[2019-06-17 13:46] nyanhp commented on #601
Closing this issue, if it was not fixed, please just open a new one :)

[2019-06-17 13:46] #601 closed

[2019-06-17 13:48] nyanhp commented on #404
Closing this issue as no reply was received

[2019-06-17 13:48] #404 closed

[2019-06-17 13:49] nyanhp commented on #454
Works fine

[2019-06-17 13:49] #454 closed

[2019-06-17 13:49] nyanhp commented on #619
Brilliant, thank you for understanding!

[2019-06-17 13:49] #619 closed

[2019-06-18 07:48] #621 closed

[2019-06-20 15:46] damorris opened #677 "Exchange 2013 & 2016 fail on 5.10"
## Description
Windows 10 system with AL 5.10 Exchange sample lab builds with exchange  fail
"SmallLab 2012R2 EX" & 07.1 e2k13 & 07.2 E2k16
## Expected behavior

## Actual behavior
[code]

## Steps to reproduce

Install AL 5.10 no other versions present. folder structure is "C:\Program Files\WindowsPowerShell\Modules\AutomatedLab\5.10.0"

if I put all the version specific files in the root module

[2019-06-21 08:54] raandree commented on #677
I have just stumbled over this as well. Working on it...

[2019-06-22 17:37] toybits commented on #659
Hey Sorry nyanhp I've been cycling around Portugal. That's amazing documentation thanks so much. Was working with an Idenity DSE from MS other day and he had to spin up an environment for us to test something and had his own process. I showed him this he almost had a kitten. Another AutomatedLab fan is born.

Great thanks mate.

[2019-06-24 19:37] damorris opened #679 "rolling back to previous versions fails"
## Description

Uninstalled AL 5.10 and attempted to install previous versions via Powershell 5.7.0 or 5.6.0 from psgallery. It loads verion 5.10.0 for modules AutomatedLabDefinition, AutomatedLabNotifications, AutomatedLabUnattended and AutomatedLabWorker

## Expected behavior
install-module should load correct version for all AL modules as the MSI installer does

## Actual behavior
AL module ins

[2019-06-25 19:01] damorris commented on #679
After testing with a hand full of labs ( 07.1 & 07.2 and small lab XXXX EX) this mis-matched versions does function. I get errors for Register-LabArgumentCompleters but the script will complete and the vm's functional.

+     Register-LabArgumentCompleters
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (Register-LabArgumentCompleters:String) [], CommandNotFoundE

[2019-06-26 13:41] nyanhp commented on #677
Fixed with new release. @damorris please update from either the gallery or with the MSI.

[2019-06-26 16:18] raandree commented on #677
Today I have tried the Exchange 2016 introduction script. The Exchange installation failed even when using version 5.12.0.

[code]

I am investigating...

[2019-07-01 16:07] nwent opened #691 "Write-PSFMessage Issues"
Hi

I'm a bit of a newb here but there appears to be a few errors in **AutomatedLabDisks.psm1**

There are quite a few instances where:
[code]
Generates this a prompt for a message:
[code]
And also a few instances where the 'NoNewLine' parameter has been used generating the following error:
[code]

## Steps to reproduce
[code]
## Environment details

PowerShell Version
[code]

AutomatedLab compone

[2019-07-03 08:02] #646 closed

[2019-07-03 08:28] raandree commented on #691
Yes, we have some work to do. Thanks for reporting this.

[2019-07-03 09:40] #381 closed

[2019-07-03 11:43] jschpp opened #695 "Operating System Key for Windows 10 Education is missing"
## Description

Trying to set up a Windows 10 Education VM results in the error below.

## Expected behavior
Install-Lab creates a new VM with Windows 10 Education as Operating System

## Actual behavior

[code]
See also https://gist.github.com/jschpp/8cfc06cc94d24bb71428e9d0310f3eba for complete log.

## Steps to reproduce
Put the correct iso files `SW_DVD9_Win_Pro_Ent_Edu_N_10_1809_64-bit_Englis

[2019-07-03 11:52] raandree commented on #695
So far we are only supporting Pro and Enterprise. Does it work if you provide the product key yourself with the ProductKey parameter of Add-LabMachineDefinition?

[2019-07-03 12:00] jschpp commented on #695
I've tried adding the `-ProductKey` parameter with the kms key of my org. It's still the same error.

[2019-07-03 12:01] jschpp commented on #695
My script now looks like this:
[code]

[2019-07-03 13:19] raandree commented on #695
The ProductKey parameter does not work. We should have removed it long ago. There is a file where you can introduce your own product keys to AL: C:\ProgramData\AutomatedLab\Assets\ProductKeysCustom.xml

After you have changed the file, you need to restart PowerShell in order to reflect the change.

[code]

If you want to see if the product key is known by AL, please call this command:

[code]

Doe

[2019-07-03 13:49] jschpp commented on #695
Yes. That solves my Problem. Thank you.

[2019-07-03 13:49] #695 closed

[2019-07-03 18:21] damorris opened #696 "Install-LabWindowsFeature -FeatureName RSAT fails on windows 10"
## Description

building lab and want to install RSAT tools on a win 10 client in the domain for use with win 2019 server core or nano.

## Expected behavior
Install-LabWindowsFeature -FeatureName RSAT -ComputerName 'server1', 'server2' -IncludeAllSubFeature
This should install the RSAT Features on windows 10 client but it does not.

## Actual behavior

## Steps to reproduce

running the following

[2019-07-03 18:23] damorris commented on #696
add actual behavior:

12:47:08|00:01:16|00:00:00.002| - Creating HyperV machine 'Win10Ent1703'.....
12:47:33|00:01:41|00:00:24.304|   - Done
12:47:33|00:01:41|00:00:00.001| - Waiting for all machines to finish installing
12:47:33|00:01:41|00:00:00.039|   - Done
12:47:33|00:01:42|00:00:25.975| - Done
12:47:34|00:01:42|00:00:00.002| Starting remaining machines
12:47:34|00:01:43|00:00:00.052| - Waiti

[2019-07-04 10:48] raandree commented on #666
It should work but in a slightly different way. CustomRoles are a new look to the PostInstallationActivities. You can trigger them with ```Install-Lab -PostInstallations``` for all machines or kick off the installation of PostInstallationActivities on individual mnachines like this:

[code]

Does this help?

[2019-07-04 10:49] raandree commented on #666
BTW, @damorris, do you have code ready for installing Exchange 2019?

[2019-07-04 10:57] #677 closed

[2019-07-04 12:39] raandree commented on #666
This script worked for me:

[code]

[2019-07-04 20:17] ctmcisco opened #698 "Any issues issues after this change : Adopted PSFramework in favor of datum"
## Any issues issues after this change : Adopted PSFramework in favor of datum

Wondering what issues if any to look for with current labs or configurations moving to AL v5.13 or v5.14.  I am currently on v5.10.

[2019-07-04 21:53] GlennJC opened #699 "VLAN Support for Private Switches"
## Description

Initial implementation of VLAN Support was tested on external switches only, so support for private switches using VLAN's was explicitly disabled in AL code until further testing could be completed

## Expected behavior

VLAN's are able to be used on private switches

## Actual behavior

Errors are thrown if VLAN's are assigned to Virtual Machines attached to private switches

## E

[2019-07-05 06:51] raandree commented on #699
Thanks in advance, @GlennJC!

[2019-07-05 17:57] raandree commented on #698
Do you have any user configuration in the old format? I have not experienced an issue upgrading to a version that implements PSFramework.

[2019-07-07 01:28] ctmcisco commented on #698
I have seen issues in the past when trying to upgrade from old version to latest where in some functions or modules associated with AL do not get updated along with the rest of AL.
I don't know the internals of AL intimately to make an educated guess that all will be fine if I upgrade to the latest 5.14 from 5.10, so its why I ask. I "lab" the upgrade out :) , to avoid issues as I am in the middle

[2019-07-13 22:57] raandree commented on #698
Thanks for asking, @ctmcisco. If you hit issues, please reopen.

[2019-07-13 22:57] #698 closed

[2019-07-13 22:58] raandree commented on #666
@damorris, I hope I could solve your issue. If not, please reopen.

[2019-07-13 22:58] #666 closed

[2019-07-13 22:58] #615 closed

[2019-07-13 23:00] #426 closed

[2019-07-13 23:01] raandree commented on #531
Exchange issues have all been solved in the last release. Please reopen if there are still issues.

[2019-07-13 23:03] damorris commented on #666
I think you have, I am testing a Exchange 13,16,19 combo lab with Win10 client &Rsat tools. should have it worked out this weekend. I need the latest CUs for .Net4.8 that's talking a while to download. I need to figure out how to run a separate script to create users& mailboxes as part of each Exchange version. I can research it but if you already know that would be great. :)

[2019-07-13 23:06] damorris commented on #666
I have the custom role working for Exchange 2019, the only issues is you need MSDN or VL account to download it or the CU's. How do you want to document that ?

[2019-07-13 23:06] raandree commented on #666
We already have a [script](https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/PostInstallationActivities/PrepareFirstChildDomain/New-ADLabAccounts%202.0.ps1) we run in some labs as a PostInstallationActivity that creates about 6k users with data like reporting line, department and more. Creating the mailboxes after invoking hat script should be easy to do.

[2019-07-13 23:08] raandree commented on #666
I am looking forward to your PR for Exchange 2019. We can just add a comment in the sample script that describes the scenario.

Interesting that Microsoft is changing the way they provide the bits for the new version.

[2019-07-17 17:06] MichaelGrafnetter opened #700 "Bugs in ADFS deployment related to certificate request"
## Description

### Issue 1
ADFS deployment fails to create the **ADFS SSL** certificate template if it does not already exist and the installation does not proceed. It incorrectly runs the `New-LabCATemplate` cmdlet with the `-ApplicationPolicy ServerAuthentication` parameter instead of `Server Authentication` (with space). I am not sure if this parameter is even necessasy when duplicating the We

[2019-07-18 11:02] WojciechThomas opened #701 "Problem with simplest lab setup (probably Get-HostsFile cmdlet missing)"
## Description

I have installed AutomatedLab on Windows 10 Education 1809 En 64bit, with Bitdefender antyvirus using:
[code]
## Expected behavior

I am going to install new lab using commands:
[code]

## Actual behavior

Every time I run command `Install-lab` I get the error:
[code]
Script continues, however afterwards subsequent errors appear:
[code]
## Steps to reproduce

Just run commands ment

[2019-07-18 12:42] raandree commented on #701
It seems that you have screwed your hosts file. We expect it to have at least two lines. Obviously you have replaced the whole content of the hosts file with the single character 'ണ'. Adding another line to the hosts file should solve the issue.

[2019-07-18 12:42] #701 closed

[2019-07-18 19:21] WojciechThomas commented on #701
You were right. It appears that some of tools I use screwed hosts file. I have pasted default content of Windows hosts file and now it works without glitches.

[2019-07-19 09:29] raandree commented on #701
That's an interesting info, thanks for sharing.

[2019-07-22 05:33] bevege01 opened #702 "Module could not be loaded Error"
## Description
After install succeeds. I get the following error when checking for ISO's:
[code]

If I do what it says, I get the following error:

[code]

Tried on 2019 Server Standard and Windows 10 Pro 1809. Had to go back to Automated Lab 5.12.0 to get things working on Server 2019 Standard. The only change I made at installation was changing the labsources to e:\Labsources vs. C:\Labsources.

[2019-07-22 12:05] raandree commented on #702
The PowerShell module 'newtonsoft.json' is not part of the installer. The installer tries to download it from the PowerShell Gallery but it is not guaranteed.

If you install AL via the PowerShell Gallery, all dependencies will be downloaded as well.

We won't mark the PowerShell Gallery as a trusted repository as only a number of modules are tested and reviewed. Even if the PowerShell Gallery rep

[2019-07-24 11:28] #702 closed

[2019-07-24 20:04] damorris opened #703 "Need Exchange 2019 custom role"
## Description

AL needs an Exchange 2019 custom role

I will submit a PR shortly to address this

[2019-07-25 10:17] raandree commented on #703
Thanks in advance!

[2019-07-26 17:35] PerPedersen opened #704 "Unnecessary restart during installation of Root DC"
## Description

The code for installing a Root DC makes an unnecessary restart of the machine.
When the Root DC is installed using Install-ADDSForest, this automatically restarts the machine and the AL code waits for the Root DC to be ready. Once ready, the AL code makes some additional configuration. After this, AL restarts the Root DC. This extra restart is unnecessary and only takes up extra la

[2019-07-26 20:08] MichaelGrafnetter opened #705 "CaRoot role deployment fails when DoNotLoadDefaultTemplates is used"
## Description

Deployment of the `CaRoot` role always fails when used with the `DoNotLoadDefaultTemplates` property. The root cause is that the `Install-LWLabCAServers` expects it to be `[bool]`, but `Install-LabCAMachine` only accepts 'Yes', 'No' and '\<auto\>'.

## Actual behavior
The code below returns the following error:

[code]

## Steps to reproduce

[code]

## Environment details

PowerSh

[2019-07-30 12:25] mfgjwaterman opened #706 "Unable to install Windows Server 2016"
## Description

Unable to install Windows Server 2016 Standard and DataCenter with a GUI. Windows 10 & Windows Server 2012 R2 install fine.

I've reinstalled my work machine, installed AutomatedLab on it and did the normal stuff I usually do. Downloaded the ISO files from visualstudio and did the entire AutomatedLab routine. After creating the base images a new lab was created and everything insta

[2019-07-30 13:10] mfgjwaterman commented on #706
I fixed it. For some reason my local was set to en-nl instead of en-us. That reflected back to the deployment with AutomatedLab. It's working now. Case closed.

[2019-07-30 13:20] raandree commented on #706
Right, I have just deployed the small lab with no issue. However, changing the locale on the host should not have this strange effect. Trying that now...

[2019-07-30 13:26] mfgjwaterman commented on #706
I know! it's weird, but that what it fixed it for me. If you read the setupact.log file you see a remark about the locale of en-nl, which does not exist as a valid locale. I guess that's the main reason. Perhaps an valid local will not make a difference.

Let me know what you can find.

[2019-07-30 13:54] raandree commented on #706
Right, I can repro it. I am closing the issue and hope that it serves as a documentation for the future.

[2019-07-30 13:54] #706 closed

[2019-07-30 13:56] mfgjwaterman commented on #706
Glad I could add a bit :-)

[2019-07-30 16:35] raandree commented on #705
Thanks for reporting, this is a bug indeed. Fix is on the way.

There may be more similar bugs but unfortunately I don't have the time to test all the possible settings at the moment.

[2019-07-31 12:57] #705 closed

[2019-07-31 16:02] #704 closed

[2019-07-31 22:33] PhilipHaglund opened #709 "Bootloader did not load an operating system"
## Description
Short: Bootloader did not load an operating system after deployment of AutomatedLab.

Long: I recently switched to a new Dell XPS 15 (7590) and i tried to use the exact same configuration from my older Dell XPS 15 (9560) with only switching from Server 2016 ISO to Server 2019 ISO. I even tried with Server 2016 and Windows 10 ISO's and both produce the same error.

I suspect somethin

[2019-08-01 12:14] raandree commented on #709
I have exactly the same OS on the host and also the same ISOs files. Your script works in my two computers without any issue and the boot settings of the DC looks like this. On my machine it is set to "Boot from File".

![image](https://user-images.githubusercontent.com/11280760/62292211-2f048500-b466-11e9-8247-f02f94799a3b.png)

Is AL creating a generation 1 or 2 on your host?

[2019-08-01 15:15] PhilipHaglund commented on #709
AL is creating generation 2 on my host.
_Below VM is created with C:\LabSources\SampleScripts\Introduction\01 Single Win10 Client.ps1_
![image](https://user-images.githubusercontent.com/14297750/62304500-5f581d80-b47e-11e9-839f-25ec3c5c36ff.png)
[code]

My system:
![image](https://user-images.githubusercontent.com/14297750/62304570-7c8cec00-b47e-11e9-9006-f26a41ae7a3b.png)

I suspect something wit

[2019-08-01 23:16] RandyInMarin commented on #709
This might not be a AL issue.  Can you try removing and adding back the Hyper-V feature?  A Windows 10 feature update caused me Hyper-V issues until I removed the feature and added back.  I've read some have done this to fix something similar to your issue.

[2019-08-02 10:06] PhilipHaglund commented on #709
Tried this now but the same problem persist.
I've also tried to create a New Virtual Machine using the GUI and boot from ISO to install. This works when I disable Secure Boot but when Secure Boot is enabled I receive the exact same error as mentioned in the issue. So I suspect something with the reference VHDX is created with SecureBoot as default.

[2019-08-04 11:15] PhilipHaglund commented on #709
Somewhat it works after fixing the here strings in the New-LWReferenceVHDX and adding 5 seconds, with a total of 10 seconds, of sleep before the partition of System Drive and bcdboot.exe.

I haven't done anything other with my system to make it work. I suspect something with a freshly installed Windows 10 1903 using the ISO 'en_windows_10_business_editions_version_1903_updated_july_2019_x64_dvd_97

[2019-08-15 12:08] Haribo112 commented on #619
you're missing a '-' between New and LabSourcesFolder

[2019-08-15 12:34] Haribo112 opened #714 "Hyper-V Role does not install"
## Description

Declaring the Hyper-V role for a Windows Server 2019 VM does not actually install Hyper-V at all.

## Expected behavior

"Add-LabMachineDefinition -Roles HyperV " should create a VM with the Hyper-V role installed.

## Actual behavior

Creates WS 2019 VM with no roles installed.

## Steps to reproduce

[code]

## Environment details

PowerShell Version
[code]

AutomatedLab componen

[2019-08-15 12:37] Haribo112 commented on #714
This is my full Powershell log:

[code]

[2019-08-19 20:46] damorris opened #716 "Unable to labs to deploy to Azure"
## Description

## Expected behavior
Unable to deploy labs to Azure.

## Actual behavior

I get the following error when running the any lab scripts deploying to Azure. This is the sample script and the error is identical if connect to Azure first (connect-AzAccount) or not at all.

[code]

## Steps to reproduce
set sample lab script LabSources\SampleScripts\Introduction\12.1AzureSingle domain-joi

[2019-08-20 14:51] #679 closed

[2019-08-20 14:52] damorris commented on #679
will investigate at a later time.

[2019-08-24 16:15] jasonmull opened #720 "HyperV Server 2019 Install-Module Error"
## Description
When trying to import AutomatedLab on HyperV Server 2019, the command errors out

## Expected behavior
Powershell modules are successfully imported

## Actual behavior
When importing the module, I get the error below:

[code]

## Steps to reproduce

[code]

## Environment details

PowerShell Version
[code]

AutomatedLab components
[code]

[2019-08-28 15:41] lboening opened #721 "Cannot find settings.psd1"
## Description
Based on Wiki, there is supposed to be a settings.PSD1 file.

## Expected behavior
Settings.psd1 file is found

## Actual behavior
Cannot find file.

## Steps to reproduce

[code]

## Environment details

PowerShell Version
[code]

AutomatedLab components
[code]

[2019-08-28 15:46] raandree commented on #721
Thanks for reporting this. We have to update the help I guess.

The settings are not in the 'AutomatedLab.init.ps1', all the 'Set-PSFConfig' calls.

@nyanhp, how does someone overwrite the default config with own values in a persistent way? Before moving to PSFramework we did have a machine and user 'settings.psd1' file.

[2019-08-28 18:12] #721 closed, assigned to raandree

[2019-08-28 21:00] damorris opened #722 "Update Office installs for O365ProPlus & Office2019"
## Description

Update office install for O365ProPlus & Office 2019

## Expected behavior

## Actual behavior

I am looking to make this a custom role vs the current built in office role for office 2013 & Office 2016.

## Steps to reproduce
NA
## Environment details

PowerShell Version

Name                           Value
----                           -----
PSVersion                      5.1.183

[2019-09-04 23:29] ctmcisco commented on #716
To avoid opening a new issue, I would like to add a question related to the issue.

Will AL continue to depend on the AzureRM Module for Azure AL Deployments or can we safely use the AZ Module instead?

[2019-09-05 07:19] raandree commented on #722
@damorris added Office 2019 custom role in #723

[2019-09-05 07:19] #722 closed

[2019-09-05 07:32] raandree commented on #709
@PhilipHaglund, did this error ever occur again?

[2019-09-05 07:35] PhilipHaglund commented on #709
@raandree, nope everything is working now after the changes 👍.

[2019-09-05 07:36] raandree commented on #709
Perfect, closing this issue then.

[2019-09-05 07:36] #709 closed

[2019-09-09 03:28] ctmcisco commented on #703
Hello. Was @damorris able to provide a PR for this Role?

[2019-09-09 05:10] raandree commented on #703
Yes, Exchange 2019 is implemented in #723 and #726.

[2019-09-09 05:10] raandree commented on #703
Thanks, @damorris, closing this thanks to your PR.

[2019-09-09 05:10] #703 closed

[2019-09-21 15:39] damorris commented on #716
I have tried using AzureRM and the new AZ modules and can not get it work either way.

[2019-09-21 18:00] raandree commented on #716
Thanks for bringing this up again. I will look into this very soon.

[2019-09-22 12:05] raandree commented on #716
@ctmcisco, currently deploying the lab with AL 5.15.0 with the Az module installed today. ```Enable-AzureRmAlias``` is not required.

What are you trying with this command?

[code]

I invoke ```Login-AzureRmAccount``` mostly with the parameters SubscriptionName.

@damorris, what is the error you are getting?

[2019-09-22 21:10] damorris commented on #716
I upgraded to AL 5.15 uninstalled the Az modules and reinstalled the AzureRM modules rebooted and now am getting this error.

16:06:24|00:00:00|00:00:00.000| Initialization
16:06:24|00:00:00|00:00:00.013| - Host operating system version: '10.0.18362'
16:06:24|00:00:00|00:00:00.035| - Creating new lab definition with name 'MultiForest Azure Test'
16:06:24|00:00:00|00:00:00.057| - Location of lab de

[2019-09-23 07:01] raandree commented on #716
From what I can see, there are some issues:

1. Detecting the currently installed Az module version does not work as expected. After installing Az, it is in the PSModulePath but does not show up in the available module list. Anyone has an idea what's going on?

[code]

2. In AutomatedLab we are looking for a minimum version of the Az module(s), but in a [dangerous way](https://github.com/Automated

[2019-09-23 08:04] nyanhp commented on #716
The detection logic is wrong. Also: Make sure to remove any old AzureRM modules on the system before installing Az. I've had numerous issues due to that. I also rather remove and reinstall Az instead of upgrading, since this has also been an issue in the past.

One method would be Get-InstalledModule Az, but that takes more time and does not catch users installing things the legacy way. We might c

[2019-09-23 08:24] raandree commented on #716
Good idea, Get-InstalledModule works and could replace our current way of detecting it:

[code]

[2019-09-23 14:19] damorris commented on #716
So I removed both modules and reinstalled the Az module. The error i am getting is more like what I have been seeing in the past.

I have been manually logging on to my azure account via Connect-AzAccount

[C:\scripts]
PS{da} (1) > Connect-AzAccount

Account                SubscriptionName                     TenantId                             Environment
-------                ----------------

[2019-09-23 14:23] raandree commented on #716
Can you confirm that you Az version is 2.6.0?

[2019-09-23 14:55] damorris commented on #716
initially it installed 2.3.2 so I updated it to 2.6.0 rebooted and tried again
 Get-InstalledModule -Name Az

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
2.6.0                Az                                  PSGallery            Microsoft Azure PowerShell - Cmd

[2019-09-24 14:28] raandree commented on #716
@damorris, I would like to understand better, what's going on. Can we have a Teams meeting during this week to debug this?

[2019-09-24 14:33] raandree commented on #720
Sorry for replying that late, @jasonmull. Looking into this now...

[2019-09-24 16:01] damorris commented on #716
Sounds good, what times are you available Wednesday or Thursday ?

[2019-09-24 16:18] raandree commented on #699
Hi @GlennJC, is this ready to merge?

[2019-09-24 16:27] raandree commented on #696
Thanks for bringing this to the table. With previous Windows 10 versions we have installed RSAT like this:

[code]

AL has not yet used the cmdlet 'Add-WindowsCapability'. Making use of that requires to change the cmdlet 'Install-WindowsFeature'.

@damorris, is this a task you can take over? :)

[2019-09-25 11:31] nyanhp opened #739 "AL PSCore build process"
## Description

The AppVeyor build does not publish the library project. This means that apart from AutomatedLab.dll no libraries are present. This will lead to issues when importing the module in PS Core if the referenced version of Application Insights is not present.

## Expected behavior
DLL + dependencies are present

## Actual behavior
Only DLL, not the dependencies are present

[2019-09-25 12:20] raandree commented on #714
I was not be able to reproduce your issue. But I found some possible bug that I have fixed in #740. Depending on the speed of the installation, you might have run into it. Can you please give it another try with the [latest build 5.15.10](https://ci.appveyor.com/project/AutomatedLab/automatedlab/builds/27657282/artifacts), please?

I have just change your script a bit. If you don't care about the

[2019-09-25 14:05] Haribo112 commented on #714
I tried running the commands using the updated module, but still it gives me 1 server with RootDC and 2 servers without the HyperV role.

[2019-09-25 16:55] downtownmtb commented on #465
This apparently is still an issue. When installing with MSI I get the error. I was able to resolve this by exiting PowerShell to end all sessions, re-run again as Admin and add the -Force parameter.

Install-Module -Name AutomatedLab -AllowClobber -Force
Import-Module AutomatedLab

[2019-09-26 07:11] PerPedersen commented on #609
You can define virtual switches in AL without any address space. Doing so, will make AL attempt to query the address space automatically. From there, you can define machines to use DHCP or static IPs at your convenience.

Example of lab with two machines using the Default Switch, one with DHCP and one with a static IP:

My default switch on the host:

Ethernet adapter vEthernet (Default Switch):

[2019-09-26 11:08] raandree commented on #720
Yes, I can reproduce it on a Hyper-V server. It seems that the Hyper-V server does not support DSC at all for some reason.

If you create a ps1 file with the most simple DSC configuration like this

[code]

and call the script from PowerShell, you will get the same error.

As we use DSC in AutomatedLab, it does not work. I am sorry for that. I am not familiar with the Hyper-V Server but why do you

[2019-09-26 11:09] raandree commented on #716
We have found the issue. If there are more than one Azure subscription with the same name, things go wrong. Working on a fix.

[2019-09-26 22:13] raandree commented on #465
@nyanhp has updated the installer in #738. In the next version of AL, the dependencies will be installed as well.

[2019-09-28 09:54] #739 closed

[2019-09-28 13:36] raandree commented on #714
Thanks for giving it anohter show. I have just tried again and this is the result:

[code]

The you install the Hyper-V feature manually inside the VMs? I am asking, as we have seen  broken images that did not contain all the features for some reason.

The install logs looks like this:
[code]

[2019-09-30 08:16] rupiewicz commented on #514
i have this same problem

[2019-09-30 08:16] rupiewicz commented on #514
Wait-LWLabJob : Unknown error (0x80131700)
At C:\LabSources\CustomRoles\Exchange2013\HostStart.ps1:221 char:19
+ ...   $result = Wait-LWLabJob -Job $job -NoDisplay -ProgressIndicator 15  ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (:) [Write-Error], Win32Exception
    + FullyQualifiedErrorId : Unknown error (0x8013

[2019-09-30 10:21] dwchan69 opened #743 "Adding secondary drive to ADDC"
Is it possible with the latest AutomatedLab update to attach a secondary drive to an ADDC?  In addition, having it use Drive D to store its AD information versus having everything on a single drive?

[2019-09-30 10:29] dwchan69 opened #744 "How to update PowerShell ISE to show AutomatedLab syntax"
I just recently rebuild my lab environment, both hardware and software.  After installing the latest AutomatedLab 5.16, even though it recognize the AutomatedLab command (e.g. Add-LabDiskDefinition), when I try to get the syntax information within PowerSheel ISE command window pane on the right, it is not showing up.  When I click on "Show Detail", I am getting the following error

![image](https:

[2019-09-30 18:16] nyanhp commented on #744
Not sure, I never use the command add in. You need to import the module so that all types are properly imported. I'm boarding a plane right now and will look into it tomorrow!

[2019-09-30 18:44] Haribo112 commented on #714
It's weird, I just tried again on a different system (also already had the module, so I had to update it) and this time it DID install the Hyper-V role and management tools on both systems. Thanks for your help! Now let's see if I can combine this with the Failover Clustering feature to create an Hyper-V Cluster setup!

[2019-09-30 19:37] raandree commented on #714
Thanks for the good news @Haribo112. We are happy about any contribution to AutomatedLab. If you have something to share, please send us a PR.

If the issue comes up again, please re-open this issue.

[2019-09-30 19:37] #714 closed

[2019-09-30 20:04] raandree commented on #744
Works on my machine:

![image](https://user-images.githubusercontent.com/11280760/65912141-01887900-e3ce-11e9-842d-de58e7689488.png)

What happens if you import AutomatedLab before using the command viewer?

[2019-09-30 20:10] dwchan69 commented on #744
I just install it using the msi.  What command should I execute to ensure it is properly imported and linked?

[2019-09-30 20:13] dwchan69 commented on #744
I just find this earlier post

https://github.com/AutomatedLab/AutomatedLab/issues/702

Should i try to execute "Install-Module automatedlab -Force -AllowClobber" to force a sync?

[2019-09-30 20:17] raandree commented on #744
No, please do ```Import-Module -Name AutomatedLab```. Importing sometimes takes a couple of seconds which may take longer than allowed by the ISE.

[2019-09-30 20:30] raandree commented on #743
Have a look at the [ADRecoveryLab - HyperV.ps1](https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/SampleScripts/Workshops/ADRecoveryLab%20-%20HyperV.ps1) sample script.

[2019-09-30 20:30] #743 closed

[2019-09-30 20:32] #720 closed

[2019-09-30 20:50] dwchan69 commented on #744
This is what I get when I try to execute "Import-Module - Name AutomateLab"  within my PS ISE

Import-Module : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system
cannot find the file specified.
At C:\Program Files\WindowsPowerShell\Modules\AutomatedLab\5.16.0\AutomatedLab.init.ps1:26 char:5
+     I

[2019-09-30 21:13] dwchan69 commented on #743
I see the ps1 you pointed me to will create and attach a secondary drive (to enable windows backup in this case), but however, what switch (if it exist) do I use so that my NTDS folder will reside on the secondary disk (D:) vs the OS disk (C:)?

[2019-10-01 07:05] #691 closed

[2019-10-01 07:48] raandree commented on #743
This was indeed not covered in the documentation: https://automatedlab.org/en/latest/Wiki/roles/#active-directory. I have updated it and the update should be visible when generating the help the next time.

You can use these paramters to customize AD, taken from [AutomatedLabADDS.psm1](https://github.com/AutomatedLab/AutomatedLab/blob/develop/AutomatedLab/AutomatedLabADDS.psm1):
[code]

[2019-10-01 12:25] raandree commented on #744
I can repro this.

@dwchan69, as a workaround, can you uninstall the 'AutomatedLab.Ships' module, please?

[code]

@nyanhp, are the netstandard libraries provided with AL or is it a separate download? I got the same error on Windows Server 2016 with .net core 3.0 installed.

[2019-10-01 14:58] dwchan69 commented on #744
My current Win 2016 build has .NET 4.6 Framework install but not 3.5.  Would installing 3.5 on the server address the issue?  Also when I try to run your suggest command, this is what I am getting.

PS C:\Users\Administrator> Uninstall-Module -Name AutomatedLab.Ships
PackageManagement\Uninstall-Package : No match was found for the specified search criteria and module names 'AutomatedLab.Ships'.
At

[2019-10-01 16:30] raandree commented on #744
If you have not installed AL via ```Install-Module```, please just delete the module with the Windows Explorer in ```C:\Program Files\WindowsPowerShell\Modules```.

We are looking for a more convenient solution, but this will take a day or two.

[2019-10-01 19:25] dwchan69 opened #746 "Install method different - MSI vs from PowerShell"
Given using the MSI is the easiest method to install AutomatedLab, what benefit does the manual method provide? (e.g Install-Module)

Install-PackageProvider Nuget -Force
Install-Module AutomatedLab -AllowClobber

Is there any prerequisite like NET 3.5 I need for either MSI or Manual method?

[2019-10-01 20:06] dwchan69 commented on #744
This is my current state for my environment.  I installed AutomatedLab using an MSI.

When I executed Get-InstalledModule, it come back with nothing.  Which is weird as it is not listing any modules, not just AutomatedLab

PS C:\Users\Administrator> Get-InstalledModule

However, I can see all the files for AutomatedLab within folder C:\Program Files\WindowsPowerShell\Modules

In addition, when I u

[2019-10-02 11:34] raandree commented on #744
```Get-InstalledModule``` returns only these moduled, that are installed from the PowerShell Gallery using ```Installed-Module```. This is why AL is not part of the list as you installed it via the MSI installer. But you can remove the folders from "C:\Program Files\WindowsPowerShell\Modules", which is the same like uninstalling it. Can you delete the AutomatedLab.Ships module and try importing Au

[2019-10-02 14:41] stevenschibli opened #747 "Azure-Lab: Unable to deploy DSC config"
## Description
Upon running the "Demo1" from your DSC wiki I kept stumbling over the same issue/bug.
After alot of troubleshooting I managed to find a solution that fixes the issue.

## Expected behavior
Invoke-LabDSCConfiguration successfully runs the DSC configuration on the Azure VM.

## Actual behavior
The script fails with the following error messages:
[code]

## Steps to reproduce

[code]

#

[2019-10-02 14:42] stevenschibli commented on #747
forgot to add more info.

[2019-10-02 14:42] #747 closed

[2019-10-02 14:51] stevenschibli opened #748 "Azure-Lab: Unable to deploy DSC configuration"
## Description
Upon running the "Demo1" from your DSC wiki I kept stumbling over the same issue/bug.
After alot of troubleshooting I managed to find a solution that fixes the issue.

## Expected behavior
Invoke-LabDSCConfiguration successfully runs the DSC configuration on the Azure VM.

## Actual behavior
The script fails with the following error messages:
[code]

## Steps to reproduce

[code]

#

[2019-10-02 21:04] dwchan69 commented on #744
OK, I will give it a try.  One observation I saw is that AutomatedLab was original installed with MSI, I am getting the follow error which is total understandable.

PowerShellGet requires NuGet provider version '2.8.5.201' or newer to interact with NuGet-based repositories.  The NuGet provider must be available in "C:\Program Files\PackageManagement\ProviderAssemblies' or 'C:\Users\Administrator\A

[2019-10-02 22:12] dwchan69 commented on #744
After installing NuGet provider, I was able to add in the AutomatedLab.Ships module without issue.  I think I am going to try to uninstall AutomatedLab MSI and install it completely through PS and see what happen

[2019-10-03 03:15] dwchan69 commented on #744
I uninstall AutomatedLab msi from my system and re-install its using from PS

Install-PackageProvider Nuget -Force
Install-Module AutomatedLab -AllowClobber

This is what I am seeing

1. AutomatedLab.Ship module is missing

2. when I try to pull up the syntax for "New-LabDefinition" as a test, I am getting the following error

![image](https://user-images.githubusercontent.com/36751593/66096799-1d

[2019-10-03 08:23] raandree commented on #744
Can you import the module now?

What does this command return?

[code]

[2019-10-03 12:09] dwchan69 commented on #744
This is my output

PS C:\Users\Administrator> Import-Module -Name AutomatedLab
Import-Module : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file
specified.
At C:\Program Files\WindowsPowerShell\Modules\AutomatedLab\5.16.0\AutomatedLab.init.ps1:26 char:5
+     Import-Module Shi

[2019-10-03 13:48] raandree commented on #746
There are no other dependencies when using PowerShellGet or MSI. It is just different way that some people like more than the other.

[2019-10-03 13:51] raandree commented on #744
I have to repeat myself: Can you remove the module "AutomatedLab.Ships" and try import again? Just delete the folder as mentioned in a previous comment.

[2019-10-03 13:54] dwchan69 commented on #744
Having the same issue after removing and re-adding the module.  Keep in mind the NET 3.5 is not install on my win2016 build (02-2018), only 4.6 is on the server.  Would this be an issue?

[2019-10-03 13:57] raandree commented on #744
.net 3.5 is not required. It is still complaining about the Ships module which must be somewhere in the PSModulePath. Please check the line "C:\Program Files\WindowsPowerShell\Modules\AutomatedLab\5.16.0\AutomatedLab.init.ps1:26".

We will change how the Ships module is imported so it does not error anymore.|

[2019-10-03 14:00] dwchan69 commented on #744
I just try the following command again

[2019-10-03 15:25] dwchan69 commented on #744
One thing I did notices, the "New-LabSources" command seem to be deprecated and it is still being call out in the current documentation.  I find the update equivalent to work without issue

New-LabSourcesFolder -DriveLetter D:

[2019-10-03 17:34] dwchan69 opened #750 "Delay with "Waiting for machines to start ""
What are some of the condition that delay newly create VM to start up, or cause the AutomatedLab routine to wait and wait until timeout?  My recent rebuild environment are almost all SSD, SSD on OS and the iso repository, and the VM reside on Storage Space with a SSD cache

[code]

[2019-10-03 17:45] astavitsky opened #751 "Test-LabAutoLogon is failing on non-alphanumeric domains or usernames"
## Description

If the admin username or domain name for the lab contains non-alphanumeric characters, Test-LabAutoLogon does not detect autologon settings and always returns $false.  This results in a loop of turning autologon on, rebooting the lab machine and testing autologon.

## Expected behavior
Test-LabAutoLogon correctly detects autologon settings on a lab machine.

## Actual behavior

##

[2019-10-03 17:46] astavitsky commented on #751
I have fixed it in my environment and will be submitting a patch.

[2019-10-03 22:26] #746 closed

[2019-10-03 22:27] dwchan69 commented on #746
Thank you again

[2019-10-04 14:39] ctmcisco commented on #716
I am going to try @nyanhp 's suggestions.

https://github.com/AutomatedLab/AutomatedLab/issues/716#issuecomment-533997716

I have only tried deploying to 1 Subscription. I will keep you posted.

[2019-10-04 22:00] raandree commented on #748
Thanks you creating the issue and proposing the fix. The next version will work as expected.

[2019-10-05 04:21] dwchan69 opened #753 "Create external virtual switch without "allow management os share""
What is the proper syntax (not sure if possible) to create a virtual switch using the Add-LabVIrtualNetworkDefinition and having the "allow Management operating system to share the network adapter" being not selected.   This is what I am using but the default behavior for an external switch would have ""allow Management operating system to share the network adapter" selected everything

Add-LabVir

[2019-10-05 05:14] dwchan69 opened #754 "Domain Controller timeout and DNS Setting"
Following are my current lab configuration to my recent DC deployment.  I am having two minor issues
1. I can't seem to set pass my DNS IP setting and have it set to my network adapter

2. At the end of the deployment, it just sit there and wait and wait, until it get a time out error

Any feedback would be strongly appreciated

[code]

[2019-10-07 01:55] dwchan69 commented on #744
I just did Windows Update last night and it seems my issue came back again!  I try to re-run the previous command where it seem to work before but no right now

Uninstall-Module -Name AutomatedLab.Ships
Install-Module -Name AutomatedLab.Ships
PS C:\Users\Administrator> Import-Module -Name AutomatedLab
Import-Module : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, P

[2019-10-07 11:23] michelkamp commented on #754
looks like i have the same issue. Since i've upgraded to the first version that was using the AZ modules i get a never ending wait at the end of a AD deploy. See my log below. I've masked some sensitive info.

Any suggestions ??
Michel

------------------------------------------------------------------------

PS C:\Windows\system32>
New-LabDefinition -Name $labName -DefaultVirtualizationEngine Azu

[2019-10-07 11:28] michelkamp commented on #754
forgot to add @nyanhp , do you have any help on this ??

[2019-10-08 07:25] stevenschibli commented on #748
No worries, thanks for the fast response.

[2019-10-08 07:25] #748 closed

[2019-10-08 17:37] #716 closed

[2019-10-08 17:42] #751 closed

[2019-10-08 18:27] raandree commented on #753
For AL, it does not make sense to disable the option "Allow management operating system to share the network adapter". If this option is disabled, the host cannot reach the VMs and vice versa. All configuration is done through WinRM which requires network connectivity between the host and VMs.

[2019-10-08 18:38] raandree commented on #750
AL should just wait for the machines to become available. If a machine or role is running into timeouts, please make sure that:
- The network configuration of the VMs is correct
- The VMs can be reached from the host (ping and Test-WSMan)

If this is the case, can you also connect to the machines in question using the following command?

[code]

[2019-10-08 19:44] raandree commented on #754
@dwchan69, I am not sure if the networking basics are correct in you lab.

- A domain controller must point to itself or another domain controller in the same domain. I don't think that this is the case in your lab.
- Why do you have an internal network adapter? It is not used.
- The external adapter should either get its IP address from DHCP or have the same address as the hosts physical network

[2019-10-09 11:04] raandree commented on #754
@michelkamp, I have changed the script only slightly to match my setup and it finished successfully. Can you reproduce the issue when only deploying the domain controller as well?

[code]

All machines have been created:

[code]

[2019-10-09 11:06] raandree commented on #744
We have not changed anything in Ships. Does it work now or do you still run into trouble?

[2019-10-09 14:12] raandree commented on #609
As per mentioned, things are easier than they may look at first. The sample script "Introduction\02 Single Win10 Client (internet facing).ps1" also demonstrated how to use the default switch without assigning an IP address.

[2019-10-09 14:12] #609 closed

[2019-10-09 16:23] dwchan69 commented on #744
I waited a few and everything seem to be back in order.  This is also after manually execute the following command

Uninstall-Module -Name AutomatedLab.Ships
Install-Module -Name AutomatedLab.Ships
Import-Module -Name AutomatedLab

Let do one more test with a reboot to see if the setting stick, which it should

[2019-10-11 05:59] dwchan69 opened #756 "When -PostInstallationActivity get executed for a VM using a RootDC role?"
I got a quick question.  For DC roles VM, when does the "-PostInstallationActivity" kicks off?  Does this kicks for after the AD roles is added and rebooted?  Or the server starting up for the first time before ADDS kicks off?

Here is my DC definition

Add-LabMachineDefinition -Name DC01 -Processors 2 -Memory 2GB -DiskName DC01-Disk2 -OperatingSystem 'Windows Server 2016 Standard (Desktop Experie

[2019-10-11 09:25] raandree commented on #756
PostInstallationActivities are invoked at the very last task of a lab deployment. Same applies to custom roles, which are in fact PostInstallationActivities. And PostInstallationActivies are only a wrapper of Invoke-LabCommand. So if things are failing, just use Invoke-LabCommand and point to your local script to execute.

[2019-10-11 20:23] dwchan69 commented on #756
I am trying to debug my post activity script, which used to work but it is not working now after I rebuild my environment

So I have few questions to related to AutomatedLab and PowerShell itself

This is what I set for my postinstallactivity value.  The lab (the DC VM)  is grabbing my ps script during deployment from my host (e.g. D:\LabSource blah blah), but what I am curious is where on the VM

[2019-10-11 22:40] raandree commented on #756
AL cleans up the files that have been copied as part of a PostInstallActivity. If you don't want the files to be cleaned up, use the switch 'KeepFolder'.

[code]

The 'DependencyFolder' is copied to the machines root on the system drive. So you should have a folder 'C:\PrepareADUsersGroupsOU' containing your script. Try to run the script locally on the machine. If this works, try to invoke it usin

[2019-10-12 04:27] dwchan69 commented on #756
Just need some clarification here

1. For the first mkdir command,, is @' part of the first line, or in a line of its own (second line)?
2. Does it create a test folder on the VM? (which I presume) or on the host (where AutomatedLab reside)?  Just double checking here
3. Which your syntax of "$global:labSources\Test", how this translate on the target VM ? (e.g. C:\LabSources\Test )?
4. And lastly,

[2019-10-14 10:13] raandree commented on #756
1. The '@' defines a [here-string](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-6#here-strings).
2. It creates a test folder in LabSources just to store the little script. The script is invoked on the VM creating the 'FromPostInstallActivity' folder there.
3. This is created on the host just to reproduce your scenario of hav

[2019-10-18 13:44] michelkamp commented on #754
@raandree Thanks for the suggestion. I did and it worked. But it still fails when i want more lab servers to be deployed. For example i need 11 lab servers so i change $nrOfLabMachines = 11 . After a long time i end with this never ending log. See tail part below. I also notice a lot of power-shell processes being active on the deploy host. Is there a setting so i can control how many action are p

[2019-10-19 12:21] michelkamp commented on #754
@raandree . okay. i think i have spotted the problem. I used a already deployed lab server to deploy the other big lab. This machine was also joined to his AD contoso domain. setting up the remote connection was not successful due to the 2 different AD servers with the same domain name. I unjoined the deploy server and now the lab deploy of 36 servers went fine.

Would be great if we could use AL

[2019-10-22 20:33] jdmart225 commented on #619
I'm having the same problem too.  Just tried everything that was recommended.

[2019-10-26 02:00] waiholiu opened #758 "How do I get Show-LabDeploymentSummary to output to a file?"
I have a question, how do I actually get the outputs of Show-LabDeploymentSummary -detailed to be saved to a file?

I ran **Show-LabDeploymentSummary | out-file log.txt** but it just came out as a blank file.

[2019-10-26 02:32] waiholiu commented on #758
actually this worked for me

Show-LabDeploymentSummary -detailed -iv log
$log | out-file log.txt

[2019-10-26 02:32] #758 closed

[2019-10-26 15:37] mfgjwaterman opened #759 "Kerberos tickets not received for primary account"
## Description
After the lab is installed the primary domain user that's created during installation does not seem to get kerberos tickets for the mandatory integrity level medium.

Please describe your issue in as much detail as necessary for us to understand it.

Install a lab, use 'Add-LabDomainDefinition' and 'Set-LabInstallationCredential' to set the password.  A single RootDC and one client

[2019-10-29 03:24] Skatterbrainz opened #761 "New-LabDefinition -MaxMemory not working"
## Description

I just installed AutomatedLab on my server I: drive (a 1TB SSD), created a new (empty) root-level folder "I:\Labs" to keep output separate from I:\LabSources, then I tried to use New-LabDefinition:

[code]

## Expected behavior

Create a new lab definition.

## Actual behavior

[code]

## Steps to reproduce

(See above)

## Environment details

PowerShell Version
[code]

AutomatedL

[2019-10-29 03:27] Skatterbrainz commented on #761
The host is a physical Dell R710 server running Windows Server 2019 Datacenter with 64 GB memory.  The OS is installed on 2 x 146gb 10k mirrored drives.  The Hyper-V environment runs on other drives.  AL was installed to I:\LabSources using ```New-LabSourcesFolder -DriveLetter I:```

[2019-11-07 16:50] eberhardbaerlin opened #762 "Productkey parameter not found"
## Sample Script not working

Using Sample script "03 PowerShell 5 on Windows 7"
ISO from MSDN with Windows 7 with Service Pack 1 (Retail version)
First error: Product key is unknown.
Documentation says Add-LabMachineDefinition has parameter Productkey.
Using the parameter with the ProductKey doesn't work.
Error message: NamedParameterNotFound

The parameter does not show when going the possible o

[2019-11-08 18:20] leonletto opened #763 "Please add option to use StandardSSD_LRS as in resource groups and disks"
Since last year azure offers a Disk Type called StandardSSD.

See https://azure.microsoft.com/en-us/blog/preview-standard-ssd-disks-for-azure-virtual-machine-workloads/

These disk types are cost-effective storage options that are optimized for workloads that need consistent performance at lower IOPS levels.  In other words - Amazing for Labs at a reasonable cost.

As of today, I can't define this

[2019-11-12 13:39] nyanhp opened #764 "Enable AutoShutdown on Azure"
Auto-shutdown configuration for Azure VMs is a bit ugly but can be enabled. Two cmdlets will be added to do just that.

[2019-11-13 08:30] tobi-coder commented on #561
Is there any Information/solution I didn't get? We have the same problem.

[2019-11-13 22:26] eberhardbaerlin commented on #762
I tried to use an older version of Automated Lab on the same workstation. That didn't worked. I got various errors - despite deinstalling 5.16 and repairing the older version.

Using Windows 10 Pro instead of Windows 7 Professional worked without productkey.

[2019-11-17 22:39] raandree commented on #762
The ProductKey Parameter was been removed quite some time ago. If you want to add your own product keys, you can do this in the file ```C:\ProgramData\AutomatedLab\Assets\ProductKeysCustom.xml```.

Howweer, the product keys for Windows 7 Professional, Ultimate and Enterprise are already defined in the file ```C:\ProgramData\AutomatedLab\Assets\ProductKeys.xml```.

Can you provide the output of the

[2019-11-17 23:07] raandree commented on #759
Thanks for reporting this. I have observed the behavior as well. It seems that the user used for the deployment does not have the needed password hashes stored in the AD database.

We can add this as part of the domain deployment on all RootDCs and FirstChildDCs. Are you interested in providing us a PR?

Just for info: When using Invoke-LabCommand, you ca publish local variables to the remote spac

[2019-11-18 09:39] mfgjwaterman commented on #759
Hello again,

Thanks for the conformation! I would love to help out, just let me know what I can do.

Appreciate the insight into the Invoke-LabCommand, wasn't aware that it works this way, I'll adjust my scripts.

[2019-11-21 19:18] eberhardbaerlin commented on #762
Thank you for your support.

Here the Output of the command:
20:02:27|06:50:43|06:50:36.277| found 36 OS images in the cache

OperatingSystemImageName ProductKey
------------------------ ----------
Windows 7 HOMEBASIC
Windows 7 HOMEPREMIUM
Windows 7 PROFESSIONAL
Windows 7 ULTIMATE

In the folder "c:\programmdata\AutomatedLab\Assets" there is a file productkey.xml
and the following keys are in it:

[2019-11-25 13:27] TCDooM commented on #380
so...
do we know if the availability can be check before hand? like with a script, making sure that the VM i request is available before i fail on AllocationFailed?

[2019-12-01 21:24] codaamok commented on #388
Hello! Love that I've stumbled across this. I've spent all day playing, it's amazing.

Can I infer that using `-Path` with `New-LabDefinition` and custom roles is unsupported?

[2019-12-02 23:18] #753 closed

[2019-12-03 09:45] alphasteff commented on #388
I had the same issue with that, so that I would say, unfortunately, yes.

[2019-12-03 11:09] raandree commented on #759
This is fixed now and the fix will be delivered in the next release. You cannot set the password right after installing the DC so we are now waiting until the password reset was successful. This takes maybe 1 or 2 minutes.

I did run into some issues as well as of this issue.

[2019-12-03 12:11] #759 closed

[2019-12-03 12:13] nyanhp opened #767 "SharePoint 2016 not implemented"
Why do we have the role SharePoint 2016 when it does nothing?

-> Implementing it to the best of my abilities

[2019-12-03 14:23] mfgjwaterman commented on #759
Wonderful! Glad that it could be fixed as it was driving me nuts from time to time. Good job and thank you!

[2019-12-03 15:19] raandree commented on #759
Me as well. I was experiencing a lot of strange issues but never related it to that. When giving Kerberos classes I observed that the default user does not get passwords as well and was not be able to explain it.  So I am glad that you have done the research to get to the ground. Thanks!

[2019-12-03 16:16] raandree commented on #388
Can you guys provide a quick sample script to make sure we are looking at the right issue? Just giving us the script that you have used when facing the issue is sufficient.

[2019-12-03 16:18] codaamok commented on #388
@raandree Check out [this](https://github.com/codaamok/PoSH/blob/master/AutomatedLab/CM-1902.ps1). Obviously it's not using `-Path` with `New-LabDefinition` but it was before I stumbled across this issue. You can see I have a WIP for CM-1902 custom role.

[2019-12-03 16:22] codaamok commented on #388
I want to emphasise, that for me at least, I only took interest in using `-Path` because I thought it felt clean and tidy to keep "stuff" together. Literally no other reason.

If there is genuinely no real reason to store XMLs elsewhere, then perhaps consider removing `-Path` altogether unless of course you can think of a valid use case to use it.

[2019-12-04 21:43] rajganeshp commented on #762
so if you have the same entry in both places, will it pick the one from custom file?

[2019-12-04 23:01] alphasteff commented on #388
I agree with the comments by @codaamok. I can do the following:

It does not work:
$labDrive   = 'C:\AutomatedLabs'
$labVMDrive = 'C:\AutomatedLabs-VMs'
New-LabDefinition -Name $labName -DefaultVirtualizationEngine HyperV -Path $labPath -VmPath $labVMPath

Works:
$labDrive   = "$Env:ProgramData\AutomatedLab\Labs"
$labVMDrive = 'C:\AutomatedLabs-VMs'
New-LabDefinition -Name $labName -DefaultVirtual

[2019-12-05 19:45] codaamok opened #772 "Get-LabInternetFile performance"
The performance of `Get-LabInternetFile()` could be better if didn't use `Write-Progress` (or at least offered option to suppress it) and using `System.Net.WebClient` instead. The `+=` operator to append to `$bytesProcessed` is also killer on performance.

I'd like to submit PR but before I make changes, I wanted to understand if there was a particular reason why this method to download was used?

[2019-12-05 20:14] rajganeshp opened #773 "Allow cryptography algorithms compatible with Windows NT 4.0" that prevents weaker cryptography algorithms when establishing security channel sessions."
Any thoughts how to fix this error?

[code]

***************************************************************************************

[code]

[2019-12-05 20:19] rajganeshp commented on #773
Script never goes past that error. It's same for 2019 and 2016 server.

[2019-12-10 09:30] mirbach opened #775 "Azure Bastion Host"
## Description

Please create a function to enable azure bastion for labs hosted in azure.

## Expected behavior

ability for RDP in the Browser

[2019-12-10 11:45] raandree commented on #772
Hi Adam, thank for submitting the issue. If you want to participate with a PR that would be great. There is always some history but I remember that most of the history was bad performance. So, please give it a go!

[2019-12-17 16:33] raandree commented on #767
I have just tried to run a SharePoint 2019 deployment but did not succeed. Do you have a deployment script ready that I can try? I can also add this one to the installer then.

[2019-12-18 16:18] stevenschibli opened #782 "Azure DSC Deployment Issues"
## Description

I've been trying to build a single script that allows to automate the process of a deployment and configuration via dsc in azure. I can do all steps (deployment and invoke of dsc cfg) manually without any issues. In general whenever I try to run the dsc cfg invoke in a script it fails completely and can't find the defined dsc configuration. Something that I discovered is that the i

[2019-12-21 07:36] raandree commented on #773
I did run the script and the result is as expected. Machines are domain joined and can reach the internet.

The error that you see is actually just a warning that does not prevent DCPromo to complete the job. Is there any error code in the dcpromo.log on the domain controller?

[code]

[2019-12-28 14:22] codaamok opened #783 "Multiple records in Invoke-LabCommand's errorvariable"
## Description

Take the following example:

[code]

The number of exception record objects within $myerror is 8. All objects appear to be the same.

## Expected behavior

I would anticipate just 1 object within $myerror in this example.

## Actual behavior

8 objects are within $myerror.

## Steps to reproduce

See above

## Environment details

PowerShell Version
[code]

AutomatedLab components

[2019-12-28 19:05] codaamok commented on #783
The below

[code]

Gives me:

[code]

![image](https://user-images.githubusercontent.com/6683266/71548366-05b03c80-29a5-11ea-9239-b4cc80c88998.png)

[2019-12-28 19:33] codaamok commented on #783
I think, for now, I'm going to use `-AsJob` with `Invoke-LabCommand` as that seems to be the alternative to avoid that while loop in [223-258 for AutomatedLabWorker.psm1](https://github.com/AutomatedLab/AutomatedLab/blob/60fe986aa4b0e4764beb8ba76ae61116d75b9fbb/AutomatedLabWorker/AutomatedLabWorker.psm1#L223-L258).

[2019-12-28 19:34] codaamok commented on #783
In case anyone is curious, here's a nice Stack Overflow question with several answers giving options to capture terminating errors in jobs:

https://stackoverflow.com/questions/8751187/how-to-capture-the-exception-raised-in-the-scriptblock-of-start-job

[2019-12-29 12:59] raandree commented on #782
OK, I can repro that but don't have a solution yet. I hope to find out more the next week.

[2019-12-29 21:50] #782 closed

[2019-12-29 22:00] raandree commented on #782
This should be fixed now in the pre-release 5.16.21. You can get it from https://ci.appveyor.com/project/AutomatedLab/automatedlab/builds/29803179/artifacts.

I have used a very small script to reproduce your issue.

[code]

The DSC configuration is the bare minumum as well.

[code]

Please report back if the change did not fix your issue. Thanks!

[2019-12-29 22:40] raandree commented on #773
Closing as there is no response. Please reopen if needed.

[2019-12-29 22:40] #773 closed

[2019-12-30 12:34] raandree commented on #783
The root cause for the behavior seems to be PowerShell/PowerShell/issues/9185. I have replaced the Select-Object call in question by array indexing syntax.

If you have some time to test the fix, please get AL 5.16.85 from https://ci.appveyor.com/project/raandree/automatedlab/builds/29811519/artifacts.

Thanks!

[2020-01-01 21:11] alphasteff opened #787 "Warning from New-AzVirtualNetworkSubnetConfig cmdlet if I create a new Lab on Azure"
## Description

When I create a new lab on Azure, I get a warning from an Azure cmdlet.

## Expected behavior

## Actual behavior

[code]

## Steps to reproduce
I think that this error message always comes up when creating a lab on Azure, so I will not insert my script now. If necessary, I can try to isolate it further, but just now I don't see the sense.

## Environment details

PowerShell Versio

[2020-01-02 12:12] stevenschibli commented on #782
Hi, I just installed the pre-release and ran your minimal version of my script and unfortunately it failed with the same error.

[code]

[2020-01-03 01:52] #783 closed

[2020-01-05 09:33] alphasteff opened #789 "The creation of ADDS on Azure does not work irregularly"
## Description

I made my own version based on the script "VpnConnectedLab.ps1". If I start the script now it sometimes works and sometimes it doesn't. I can't find a regularity. I've done it about 15 times in the past few days and it worked in about 4-5 runs.

The error always occurs when the domain is set up on Azure-based VMs, and always at the same time.

Does somebody have any idea? How could

[2020-01-07 14:39] nyanhp commented on #787
Hi @alphasteff , that's just one of the many warnings that we receive due to the short-lived nature of the Azure cmdlets' parameters... We will add WarningAction SilentlyContinue since the renamed parameters do not affect our code. You can simply ignore those warnings until our next release.

[2020-01-07 14:39] #787 closed

[2020-01-08 17:42] ctmcisco commented on #194
Hello @raandree , are you accepting pull request for documentation to the Wiki and everywhere that AL is documented? I would like to find a way to contribute as it seems documentation is a bit behind.
Thank you and Happy New Year.

[2020-01-09 02:05] raandree commented on #194
Hi @ctmcisco, of course! We know that the documentation is not in the best shape.

We have documentation on readthedocs and GitHub Wiki. @nyanhp has done all the work around the documentation lately. I like the way how readthedocs works but we haven't found a way to put the roles documention there in the same way that we provide it in the wiki.

Thanks for your support and all the best for 2020 to

[2020-01-09 13:34] codaamok opened #791 "Problem adding ISO to Lab"
## Description

When adding a SQL 2017 ISO to my lab, AL throws this non-terminating exception when calling `Install-Lab`:

![image](https://user-images.githubusercontent.com/6683266/72071414-a4149a00-32e3-11ea-9201-a747ac979e32.png)

In the lab's XML (C:\ProgramData\AutomatedLab\Labs\CMLab01\Lab.xml) I do see:

[code]

I expect it's not related but the closing `<OperatingSystems />` does seem to

[2020-01-09 13:38] nyanhp commented on #791
Hi @codaamok that is an issue with your script, unfortunately. If you check your custom role's properties, make sure that you don't use a boolean, but a string instead, e.g. 'true'. But I do agree that we need better error handling at that bit!
If you can share the script you used, I can tell you where the issue is.

[2020-01-09 13:42] codaamok commented on #791
Ah, cool, thanks @nyanhp

Would it be [this line](https://github.com/codaamok/PoSH/blob/master/AutomatedLab/CM-1902.ps1#L393)?

[2020-01-09 13:45] nyanhp commented on #791
Yup, that's it :( If you could do a .ToString() that should to the trick. You need to [Convert]::FromBoolean() in your custom role afterwards though.

[2020-01-09 15:29] nyanhp commented on #791
I think I might have a solution. Let me test this first, but I think we just use the wrong data type for our dictionary entries.

[2020-01-09 16:48] codaamok opened #792 "Some console output interrupting formatting for SQL2017"
## Description

Some output from jobs is returned to console for SQL2017 role, see image:

![image](https://user-images.githubusercontent.com/6683266/72086946-adabfb00-32ff-11ea-8a02-0aff2a081cff.png)

## Expected behavior

No blank lines.

Some messages missing Write-ScreenInfo lovely stuff.

## Actual behavior

Blank lines and some messages missing Write-ScreenInfo stuff.

## Steps to reproduce

[2020-01-11 15:56] codaamok opened #793 "$configurationFileContent in AutomatedLabSQL.psm1"
## Description

I was troubleshooting something and I noticed [this line](https://github.com/AutomatedLab/AutomatedLab/blob/a376ac1031ce87a98f8c65a151f6510df1da0c4d/AutomatedLab/AutomatedLabSQL.psm1#L174).

Should the path be hard coded to be `D:\SQLConfig.ini`? I feel it would make more sense if it were `$role.Properties.ConfigurationFile` looking at where else `$configurationFileContent` is refe

[2020-01-16 13:49] der-schmelle2 opened #795 "AutomatedLab no longer working"
## Description
I've deployed a Sample Lab with the expected results.
Now, I wanted to deploy a new Lab with three machines which fails with a strange error message.

## Expected behavior
The deployment and configuration of the treee machines
## Actual behavior
[code]

## Steps to reproduce
`$labName = 'SfBSmallLab01'
New-LabDefinition -Name $labName -DefaultVirtualizationEngine HyperV
Add-LabIsoIm

[2020-01-16 14:04] der-schmelle2 commented on #795
The problem after updating all AutomatedLab components.
`Name                      Version
----                      -------
AutomatedLab              5.17.0
AutomatedLab.Common       2.0.188
AutomatedLabDefinition    5.17.0
AutomatedLabNotifications 5.17.0
AutomatedLabUnattended    5.17.0
AutomatedLabWorker        5.17.0 `

[2020-01-22 01:30] ctmcisco commented on #194
Thanks you @raandree . I will take a glance and hopefully send some updates and ideas your way.

Likewise , Happy 2020!

[2020-01-23 21:40] ducke opened #798 "Creating Internal Network is not working"
## Description

Creating [SingleMachine Lab](../blob/develop/LabSources/SampleScripts/HyperV/Single%2010%20Client.ps1) throws an error
[code]

[code]

[code]
The problem is probably the naming of the internal virtual adapter.
`vEthernet (vEthernet (Sing)`

The regex in the Network Worker Module does not match with this Naming convention
https://github.com/AutomatedLab/AutomatedLab/blob/06fb487f712

[2020-01-26 21:34] BaffledJimmy opened #799 "FilePath Error in VMs"
## Description

AL or HyperV appears to have an issue with telling Hyper V where to locate hard drives for AL created VMs.

## Expected behavior

Simple lab is stood up, with ISOs in C:LabSources and VHDs / Configs in C:AutomatedLab-VMs

I have tried with passing the manual paths of the VMs and configs, but it appears to make no difference.

## Actual behavior

AL creates the first RootDC VM but c

[2020-01-27 09:50] codaamok commented on #799
From looking at issue #388 we can learn that currently, we should not use `-Path` with `New-LabDefinition`. I think at the moment we just need to accept that AL data (from what I can see, just lab XMLs) will always live under C:\ProgramData, and Hyper-V data will live under C:\AutomatedLab-VMs (unless you set `-VmPath` with `New-LabDefinition`).

What happens if you completely remove the lab and r

[2020-01-27 14:00] nyanhp commented on #795
I cannot reproduce this issue, no matter how hard I try. The content of your hosts file seems to cause issues. Could you have a look if it is formatted properly? The value ണ seems very odd. VS Code shows mine as UTF16-LE for comparison.

[2020-01-27 18:03] BaffledJimmy commented on #799
I first removed all Lab files:

[code]

Then re-ran:

[code]

Base images are currently being re-created - will update in hour or so :)

[2020-01-28 07:33] nyanhp commented on #789
So far I was not successful in reproducing this issue. I have to say that my network connection is extremely stable though. I don't know how much of a factor that is. I will be running a couple of additional labs, maybe something turns up.

One side note:   You are using Add-LabAzureSubscription not as we intended. The parameter Path does not exist. You should use the persisted context and the nam

[2020-01-28 08:47] nyanhp commented on #791
The collection type we use is actually working. As you noticed, the boolean parameters for the custom role should be strings that are converted to boolean in your scripts. Not a nice solution, but nothing that we will be fixing at the moment. For additional validation, you could use `[ValidateSet('true','false')`

[2020-01-28 08:47] #791 closed

[2020-01-28 08:51] codaamok commented on #772
FWIW I have an offline copy of this, I'm yet to commit - not forgotten

[2020-01-28 12:30] #792 closed

[2020-01-28 13:05] nyanhp commented on #799
@BaffledJimmy @codaamok  your best bet is to recreate the base images. I've not seen this particular issue before. Your lab script looks fine apart from specifying parameters (VMPath, Path) that are set as default anyway. Path is the path to your lab definition XMLs, VMPath is the path to your virtual machines. I would suggest not using the same directory for those.

Using the Path parameter is po

[2020-01-28 13:28] der-schmelle2 commented on #795
Hi nyanhp,
thanks for your support. After deletion of the content of the HOSTS file, Automated Lab got working again. After some tests, I removed the Test-Lab with `Remove-Lab -Name SfBTestlab01` and the HOSTS file got corrupted again with this strange symbol.

So, there is maybe a bug in the code or it's caused by Bitdefender.
Can you take a look at the `Remove-Lab` commandlet?

Many Thanks
Peter

[2020-01-28 15:32] nyanhp commented on #465
Auto installation of dependencies works now with the offline installer.

[2020-01-28 15:32] #465 closed

[2020-01-28 15:54] nyanhp commented on #380
Fixed a while ago. @TCDooM , the available sizes can be checked with
[code]

At the moment we are not planning on adding additional logic to the scripts to check for sanity - that means please look up the desired SKU which can be deployed in an availability group and then supply it either as a default parameter, a default for one lab, or a setting per machine.

[2020-01-28 15:54] #380 closed

[2020-01-29 09:48] #789 closed

[2020-01-30 12:19] BaffledJimmy commented on #799
Hi there,

Have rebuild the base images and removed any manual specification of file paths - looks to be resolved now.  Looks like #388 will address this in the long run :)

Thank you for your help.

[2020-01-30 12:19] #799 closed

[2020-01-30 12:21] #793 closed

[2020-01-31 02:25] ctmcisco commented on #123
Hello @raandree , has this ever come to fruition? I stumbled on this as I was also looking to deploy VMs quickly to production ( Home Network not Company Network ). I started to look into things like Vagrant etc. However I am invested in AL and decided to raise my sleeves and figure this out. I see a solution here since 2017 but the Wiki nor the docs have any information on it. I assume this isn't

[2020-01-31 08:53] der-schmelle2 commented on #795
The problem is caused by Bitdefender. After setting an exclusion for the HOSTS and HOSTS.ICS files, the problem disappered.

[2020-01-31 08:53] #795 closed

[2020-02-03 16:34] BaffledJimmy opened #802 "CredSSP Issues - Post Install Config Fails"
## Description

HOST cannot use CredSSP to authenticate to newly provisioned VMs.

## Expected behavior

AL auth's to the VMs using CredSSP / delegated credentials and carries out post-install steps.

## Actual behavior

AL fails to authenticate / enter a PS Session.  It is the same regardless of what Lab config I use.  Lab is standalone on a WORKGROUP.  Once I've got this simple lab working, I wi

[2020-02-03 18:02] BaffledJimmy commented on #802
I also receive a similar error using the following config.

[code]

[2020-02-04 14:03] raandree commented on #802
I could not reproduce it. It may have something to do with your host's security settings.

What does the command ```Test-LabHostRemoting``` return?

Can you provide the output of ```dir WSMan:\localhost\*\Auth -Recurse``` from your host machine as well from one of the VMs AL cannot connect to, please?

[2020-02-04 14:22] BaffledJimmy commented on #802
Hello there,

Thanks for your help :)

[code]
WSMan Settings
[code]

Will test from inside one of the VMs shortly.

[2020-02-04 14:43] BaffledJimmy commented on #802
Using the ExSmall1 lab from above:

[code]

It almost looks like AL is trying to PSRemote in too fast, from looking in Hyper-V Manager, the server hasn't fully booted by that point despite being on SSDs.

Is there a way of introducing a 'sleep' between the VM being provisioned and a PSRemote attempt, or a retry option?

From inside a VM:

![image](https://user-images.githubusercontent.com/26554069

[2020-02-04 14:49] BaffledJimmy commented on #802
Interestingly after removing the Lab and re-running it, AL has actually installed AD on the DC.....

Despite the errors saying it couldn't connect....
[code]

[2020-02-04 14:51] raandree commented on #802
@nyanhp mentioned that he has the same issue with 2012 R2 but not with 2016+. I cannot repro it at all.

We are doing all the security and WSMan settings after the computer's first start / first user login. It indeed may be a timing issue.

Invoke-LabCommand (used internally to do the setup) does 2 retries if I remember correctly.

[2020-02-04 15:21] BaffledJimmy commented on #802
The second server does start up, but I think the post install steps fail due a connection issue:

[code]

The install files does exist however.

![2020-02-04 15_20_55-192 168 0 19 - Remote Desktop Connection](https://user-images.githubusercontent.com/26554069/73758043-05ece600-4762-11ea-8fd2-a116eee21c75.png)

[2020-02-04 16:40] BaffledJimmy commented on #802
But in another scenario, more errors about CredSSP are present:

Config
[code]
Results in:

[code]

The install fails, but DC01 does actually become a RootDC.

Is there a disk benchmarking tool you'd recommend? I could make sure the SSD is fast enough for AL?  I'll also re-run the above lab config, but add more memory to each machine to make sure that the OS can't boot up fast enough due to lack o

[2020-02-04 16:42] BaffledJimmy commented on #802
Installing this config now (simpler, but with each VM having more RAM)

[code]

[2020-02-04 17:12] raandree commented on #802
Do you mean that the problem is done after increasing the memory? On my computer it worked with 512MB just fine.

[2020-02-06 06:38] raandree commented on #802
@BaffledJimmy, do you still have the issue after increasing the memory?

[2020-02-06 10:58] nyanhp commented on #764
This is released... Why hasn't it closed itself...

[2020-02-06 10:58] #764 closed

[2020-02-06 11:00] nyanhp commented on #763
Sorry for the long lead time. I'll look into it this week and probably just make it configurable

[2020-02-06 13:07] raandree commented on #388
I think the parameter "Path" is still working but does not make sense actually. Of course it makes sense being able to define where the VMs are stored but the lab XML files are so small, that there should not be a reason why to put them on a different drive.

I will remove the "Path" parameter then.

[2020-02-06 13:09] codaamok commented on #388
Yes. To me I only used it for no reason other than cleanliness, but considering it's seemingly application data, leaving it in ProgramData forever is perfectly fine IMO.

[2020-02-06 19:55] #388 closed

[2020-02-06 20:36] raandree commented on #772
Before going on vacation I found a bunch of issues with 'Get-LabInternetFile' and have rewritten parts of it. It does not increase the performance but addresses some reliability issues. The new version is not yet merged into the develop branch from https://github.com/raandree/AutomatedLab/tree/fix/GetLabInternetFile.

[2020-02-06 22:40] raandree commented on #798
Sorry for the late reply. I have just ran the script and everything went fine. As the lab name is nothing special and a network adapter required for each and every lab, I would be surprised if this does not work in general.

The network adapter in your case is not named as it should be.

Running this code shows on my computer that the network adapter's name is ```vEthernet (SingleMachine)```. I am

[2020-02-06 22:40] raandree commented on #762
Yes, custom file had precedence, as far as I remember.

[2020-02-06 22:41] #756 closed

[2020-02-07 18:12] #754 closed

[2020-02-07 18:13] #762 closed

[2020-02-07 18:14] #750 closed

[2020-02-07 18:15] #744 closed

[2020-02-07 18:16] #531 closed

[2020-02-07 18:21] raandree commented on #463
@dwchan69, sorry that we did not respond here. Is this still something you would like to work on?

[2020-02-07 18:23] raandree commented on #488
The suggested tests are implemented, closing...

[2020-02-07 18:23] #488 closed

[2020-02-07 18:55] raandree commented on #761
I have looked at the source code and must confess that I am not sure why and how this has been implemented.

@nyanhp, @PerPedersen, did you ever use this or can we remove this parameter?

[2020-02-07 18:56] #485 closed

[2020-02-07 18:57] #415 closed

[2020-02-08 09:10] BaffledJimmy commented on #802
I'll do some testing this weekend and update asap :)

Thank you :)

[2020-02-08 10:20] BaffledJimmy commented on #802
I've just completed some testing AFTER deleting various network switches from within HyperV.

Using the following config:

[code]
Results in:
[code]

When I was removing previous labs (that had failed) I was using Remove-Lab -Path C:\ProgramData....

Perhaps it wasn't clearing up virtual switches correctly? I will carry out another test, using Remove-Lab but NOT deleting any switches (eg making su

[2020-02-08 10:58] BaffledJimmy commented on #802
I think it might be some form of race condition - as AL errors (see below screenshot) whilst HyperV is still Finalising Settings or similar.

Using this config (I'll carry on using this one now for continuity in troubleshooting, although it doesn't have any networking involved)
[code]

![image](https://user-images.githubusercontent.com/26554069/74083935-61b8b700-4a61-11ea-9e7d-3a23e3e46bb0.png)

T

[2020-02-08 11:09] BaffledJimmy commented on #802
This works correctly up until the point that C:\Install\Exchange\SETUP.exe is called, which fails due to the fill being called Exchange-CU23.exe rather than Setup.exe.

But I think that is a separate issue :).  I will try with a slightly more complex setup (but no networking).

Perhaps it is AL saying it cannot connect because it tries to connect too quickly, whereas it just needs to 'sleep' for 3

[2020-02-08 18:19] raandree opened #806 "Invoke-Command : Specified RemoteRunspaceInfo objects have duplicates"
## Description

Every so often there is an error when remoting into a VM: Invoke-Command : Specified RemoteRunspaceInfo objects have duplicates

## Expected behavior

No error

## Actual behavior

[code]

## Steps to reproduce

Almost always happens when deploying the [DscWorkshop Lab](https://github.com/AutomatedLab/DscWorkshop/blob/dev/Lab/10%20HyperV%20Full%20Lab%20with%20DSC%20and%20AzureDevOp

[2020-02-08 18:34] PerPedersen commented on #761
I implemented this parameter ages ago and have used it occasionally.
It is used for defining a portion of memory to a lab. AL with then distribute the specified size of memory between the machines in the lab using usual allocation method (weighting based on roles of machines).

If you think it is not useful or it does not work, just remove it.

-Per

From: Raimund Andrée [MSFT] <notifications@gith

[2020-02-08 18:36] raandree commented on #802
Thanks for the testing! I will run the script you are using as well to see if there is a chance to reproduce the race condition.

```Remove-Lab``` does not remove external switches as they may be used by other machines / labs as well. On Windows 10 we have only one 'Default Switch' created by Windows that cannot be removed.

If you are sure you want to get rid of the external switches as well, try

[2020-02-08 21:05] raandree commented on #761
Thanks for the comment, @PerPedersen. I think it is useful and after changing the type of the parameter 'MaxMemory' things work as I think they should do.

[code]

I have 4 VMs in the lab end they look like this:

[code]

@Skatterbrainz, this will be fixed in #807.

[2020-02-09 13:38] raandree commented on #802
The script you have provided did run as expected. The only error I got was expected as my 2012 R2 ISO has PowerShell 5 which does not work with Exchange 2013. The log looks like this:

[code]

Not being able to reproduce the issue makes it quite hard to debug it. Is the machine your have the issue on available over RDP? Or can you repro this on a Azure VM?

[2020-02-10 09:25] #806 closed

[2020-02-10 19:19] ducke commented on #798
Every Lab with an internal switch is failing.
![CreateSwitch](https://user-images.githubusercontent.com/708405/74181884-52449400-4c42-11ea-9bd0-b9b56a955d72.gif)

[2020-02-12 09:46] #772 closed

[2020-02-15 05:02] ctmcisco commented on #194
@raandree , I stumbled on this project, I haven't ran it myself but seems it's geared towards documenting PowerShell Modules

https://github.com/alt3/Docusaurus.Powershell

[2020-02-15 09:46] raandree commented on #123
Yes, it has moved forward.

[2020-02-15 10:34] BaffledJimmy commented on #802
It's on a local Intel NUC I'm afraid, I'll see if I can repro on Azure.

That might also stop me knackering the network config of my NUC via external switches and having to connect a monitor to it :eyes:

[2020-02-15 18:54] keanesadler opened #813 "Question on importing linux iso"
## Description

AL doesn't show linux OS images from linux iso.

## Expected behavior

Get-LabAvailableOperatingSystem should show available Windows and linux OSs from the ISOs directory.

## Actual behavior

I downloaded the openSUSE-Leap-15.1-DVD-x86_64.iso file, but AL can't find any OS images in the file, and I cannot add any linux operating systems to the Add-LabMachineDefinition.

## Steps t

[2020-02-15 22:55] raandree commented on #761
Closing as it will be fixed in the next release.

[2020-02-15 22:55] #761 closed

[2020-02-15 22:55] raandree commented on #474
Closing as this did not occur for over a year.

[2020-02-15 22:55] #474 closed

[2020-02-15 22:56] #399 closed

[2020-02-15 22:56] #394 closed

[2020-02-15 23:02] raandree commented on #123
This is how it works:

I have deployed the the small lab [04 Single domain-joined server.ps1](https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/SampleScripts/Introduction/04%20Single%20domain-joined%20server.ps1).

This script joins a new machine to the lab and also uses the automatics to assign an IP address and the DNS server. The key is the 'SkipDeployment' switch that was ad

[2020-02-15 23:09] raandree commented on #194
Most of the work around the documentation strategy was done by @nyanhp, so I am handing this over to him.

[2020-02-15 23:10] raandree commented on #51
Closing this. We continue to track this on #123, which is about almost the same.

[2020-02-15 23:10] #51 closed

[2020-02-17 13:59] haroldddd opened #814 "DC role does not work as expected"
## Description

I can't figure out how to make the Role DC work.
I'm trying to set up a simple multi-DC architecture like the following one :

[code]

## Actual behavior

Everything goes fine until the part about the Second DC :

[code]
And the install process hangs on the promotion of the second DC. I have checked up on the machine 'F1-DC-02', the activedirectory role is correctly installed, and

[2020-02-17 17:19] haroldddd opened #815 "Setup a one way trust relationship between two domains of different forests"
Hello,

I am looking to setup a single way trust relationship between two root domains of 2 different forests.

I've seen cmdlets to setup child DC and understood that the default behavior of the cmdlet Install-Lab is to create a 2 ways trust relationships betweens all different forests of the lab, but haven't found anything about creating a one way trust relationship between 2 domains.

How could

[2020-02-18 15:21] haroldddd commented on #814
I tried to remove the machine with the DC role for the moment (until we find a solution), and I got the same hanging issue with the workstations. I don't know if it is related to the DC role issue.

Yesterday a similar lab took 5 hours to deploy (2 forests, with 3 workstations in each) ; here is the output log from the deployment (only the part with the errors about the workstations errors, the re

[2020-02-18 23:00] raandree commented on #814
I could reproduce the issue with your script. Everything went fine when changing the administrator name from 'adm' to 'administrator'. Maybe 3 character's aren't long enough?

[2020-02-18 23:13] raandree commented on #815
I have used the scenario [Multi-AD Forest with Trusts](https://github.com/AutomatedLab/AutomatedLab/blob/develop/LabSources/SampleScripts/Scenarios/Multi-AD%20Forest%20with%20Trusts.ps1) and used that code to first remove the trust to forest2.net on F1DC1 in forest1.net and then create an inbound trust. Is this what you are looking for? The code is taken from [DnsAndTrustSetup.ps1](https://github.

[2020-02-18 23:28] raandree commented on #798
That is a weird one. Actually AL is not creating the network adapters, this is done by Hyper-V. In general, you should have one virtual switch and network adapter per lab. The network adapter always has the name 'vEthernet (<LabName>)'.

AL creates the switch and network adapter in AutomatedLabWorkerNetwork.psm1 ~line 50. The lab name is used as the name for the switch. The network adapter is name

[2020-02-20 10:27] haroldddd commented on #814
Thanks for your reply. But it seems to be more complicated than that on my side.

I still have the same issue, even with credentials like 'Administrator/Somepass1'. And here is what I get on the machine with the DC role, after the promoting phase (I guess) :
[code]

![https://i.ibb.co/PgxS2tc/Capture-d-cran-du-2020-02-20-11-16-13.png](https://i.ibb.co/PgxS2tc/Capture-d-cran-du-2020-02-20-11-16-13.

[2020-02-20 14:26] haroldddd commented on #815
Thanks for you answer, I was expecting a cmdlet to set it up directly from the AL script, but that should do the trick.

[2020-02-20 14:26] #815 closed

[2020-02-20 16:35] raandree commented on #815
AFAIK there are no cmdlets for trust management yet. As trusts are not created and removed that often, the priority for cmdlets in this space might be quite low and the .net classes do the job. Not as straight forward as a cmdlet though.

[2020-02-20 18:18] raandree commented on #814
Turned out this is a bug. Usually PowerShell is not case-sensitive but sometimes it is. This is the fix: https://github.com/AutomatedLab/AutomatedLab/pull/817. Can you do the same change to you AL module and see if this solved the issue on your side as well?

[2020-02-20 18:24] raandree commented on #814
But, the lab will still not work. F2-DC-02 is defined to use Windows 2008R2 but the forest is installed with Windows 2012R2. You may want to set another Forest Functional Level as described in https://github.com/AutomatedLab/AutomatedLab/wiki/Active-Directory-Role.

[2020-02-20 20:02] ducke commented on #798
Same result. I think my Windows Edition is broken 😞
[code]
![image](https://user-images.githubusercontent.com/708405/74973676-1ff61c00-5424-11ea-8500-0326132f37e2.png)

[2020-02-20 21:54] codaamok commented on #772
Hi, I'm sorry I didn't do this. Nice work on the improvements.

I had a go at using WebClient method in System.Net class, `Invoke-WebRequest` and only updating the `Write-Progress` at x intervals (like how I've done [here](https://github.com/codaamok/Get-CMUnusedSources/blob/master/Get-CMUnusedSources.ps1#L1540)), but interestingly there was no gain at all, at least not in my tests.

Which I'm sur

[2020-02-21 12:09] #814 closed

[2020-02-25 10:49] linusmolin opened #818 "Run commands with Apartmentstate STA on AL VM"
## Description

I have code that I want to run with a thread that start with Apartmentstate STA on the AL VM through AutomatedLab. But for example Invoke-Command will start with a thread on the AL VM that has Apartmentstate MTA, even when not running -AsJob.

## Expected behavior
Being able to run command on an AL VM through AL that will run in a thread with Apartmentstate STA.

## Actual behavior

[2020-02-25 21:26] raandree commented on #818
I guess this is more a PowerShell than an AutomatedLab question. I did not find a way to start a remote PowerShell in STA or MTA. However, you can spawn a runspace from an MTA or STA runspace pool. Does this help?

[code]

[2020-02-25 23:56] jamesaflores opened #819 "windows server 2019 workgroup mode"
## Description
I love your AutomatedLabs scripts! I wanted to report my testing results, in case they help you with your powershell scripts.

I built a new Windows Server 2019 server to play with your AutomatedLab scripts, and did not join it to the domain, I wanted it to run in workgroup mode. I ran the "function Invoke-CM1902LabBuild" script at the URL:

https://winadmins.blog/configmgr/build-a-

[2020-02-26 00:40] jamesaflores commented on #381
Greetings and Felicitations! I just wanted to report this issue, I ran the "function Invoke-CM1902LabBuild" and it stopped with the error "Failed to install Reporting Service Point (The SQL Server Reporting Server instance name 'SSRS' was not found."

I have copied and pasted all the details as FYI below.
*******************************************************
PS C:\> function Invoke-CM1902LabBuil

[2020-02-26 03:58] wsmelton opened #820 "Telemetry error"
## Description

Allowing telemetry to be enabled causes error when running in non-elevated session.

## Expected behavior

Variable is simply set as a user-level environment variable.

## Actual behavior

Errors because I'm not using an elevated session.

## Steps to reproduce

Happens in both Windows PowerShell and PowerShell 7.

![image](https://user-images.githubusercontent.com/11204251/7531055

[2020-02-26 04:05] wsmelton commented on #820
Being that the module is documented to require Administrative privileges...so guess this is a mute point.

However, I don't follow why this module would require elevated permissions when I work with Hyper-V day-to-day in a normal user session. Hyper-V offers the `Hyper-V Administrators` Group in Windows that allows a non-admin user to interact with Hyper-V completely. Do you offer a method to use

[2020-02-26 04:33] wsmelton opened #821 "AutomatedLab.Recipe issue with installation"
## Description

Installing the module using `Install-Module AutomatedLab` is leaving out the `AutomatedLab.Recipe` module.

However, upon installing that module trying to use `Get-LabRecipe` returns an error because the path it is trying to look under does not exists.

Is there a process/installation path we are supposed to follow to install all the recipes using the PowerShell Gallery?

## Expect

[2020-02-26 04:43] wsmelton commented on #821
Cleaned up the PS Gallery install of the modules and ran the MSI installer. It does not seem to include any receives either, the `Get-LabRecipe` command fails with the same error.

[2020-02-26 10:29] nyanhp commented on #813
@keanesadler openSuse changed from a content file to the .treeinfo structure that CentOS and the like are using. This will take a short while. I am not a regular SuSE user, but the fact that we went from Leap 42.3 to Leap 15.1 concerns me. I'll have to test against older versions to maintain compatibility. Moreover, I need to test the installation method again.

[2020-02-26 10:59] linusmolin commented on #818
Thank you @raandree for the response. I tried a similar approach with something like this:
[code]
But that did create other problems and the whole execution become too complex (I trigger AL from a build agent and that is triggered from another powershell).

I will try using Invoke-Command, instead of Invoke-LabCommand, using a PSSessionConfiguration that has ThreadApartmentState set to STA.

[2020-02-26 10:59] #818 closed

[2020-02-26 12:46] raandree commented on #818
That is an option I was not aware of. Sounds good. So what is missing in Invoke-LabCommand is the ConfigurationName parameter then. Something we may add if there is the time.

[2020-02-29 16:21] wsmelton opened #822 "License Keys should be a configurable item"
## Description

The use of license keys seems to be configured where it is only going to use the evaluation keys. That may be suitable for most but for those of us with MSDN licenses, or volume licenses with our employer, there is a need to use a customized key for the OS installations.

Right now this is where I find how the keys are managed:

https://github.com/AutomatedLab/AutomatedLab/blob/014

[2020-02-29 16:24] wsmelton opened #823 "Online documentation is out of date"
The command documentation shown on [this site](https://automatedlab.org/en/latest/) for each command are not current, a few examples here and there show references to parameters that don't seem to exists anymore. I have not gone through with a fine comb, but something folks could contribute to with each command is validating the examples are valid or match the parameter usage.

[2020-03-01 22:18] raandree commented on #823
Right, updating the documentation along with the code is a challenge. Help from the community is highly appreciated.

[2020-03-01 22:24] raandree commented on #822
We don't want to add too many configurable items to AL. Isn't it enough to update the documentation so people know which file to edit so AL knows about their custom product keys?

[2020-03-02 01:32] raandree commented on #820
There are some things that come to my mind why AL requires local admin rights:
- I am not sure if the 'Hyper-V Administrators' can create and manage VHDX files
- AL edits the lmhosts file
- AL enables CredSSP on the host and changes TrustedHost for WinRM

If we want to support AL in a non-admin mode, testing and documentation would get more complex and consumes more time...and time is always a big

[2020-03-02 04:22] wsmelton commented on #822
Not unless you are going to move the location of that file into a more easily accessed location, like the LabSources folder.

Right now it is exists in a hidden system folder `C:\ProgramData\Automatedlab` (which I don't know why that was selected as a location).

[2020-03-02 04:23] wsmelton commented on #822
In addition the other issue you can have (though I can't get far enough to build a lab to test this) is if we pull an ISO from volume license, none of those require a license key to be provided. However, the way I read most of that process is if I don't provide a key, you are going to forcefully use an evaluation key.

Unless I'm missing something?